#sidebar{width: 320px;-webkit-box-shadow: 2px 0 4px -2px #737373;box-shadow: 2px 0 4px -2px #737373; border-right: 1px solid #FDB92B;}
#callcenter{border: 0px solid red;}
#callcenter .section{margin: 0px 0px 10px 0px; }
#callcenter .section .title{text-align: center; margin-bottom: 10px;}
#callcenter .label{color: #999; margin: 0px; padding: 0px; font-size: 14px;}
#callcenter .field{border: 1px solid #999; height: 30px; margin-bottom: 5px; background-color: #fff;}
#callcenter .field .insignia{width: 30px; height: 28px; background-position: center center; float: left; background-repeat: no-repeat;}
#callcenter .field.nombre   	.insignia{background-image: url(../../img/call/nombre.png);}
#callcenter .field.apellidos 	.insignia{background-image: url(../../img/call/apellidos.png);}
#callcenter .field.email 		.insignia{background-image: url(../../img/call/email.png);}
#callcenter .field.telefono		.insignia{background-image: url(../../img/call/telefono.png);}
#callcenter .field.origen		.insignia{background-image: url(../../img/call/origen.png);}
#callcenter .field.destino		.insignia{background-image: url(../../img/call/destino.png);}
#callcenter .field.taxis		.insignia{background-image: url(../../img/call/taxis.png);}
#callcenter .field.pasajeros	.insignia{background-image: url(../../img/call/pasajeros.png);}
#callcenter .field.observaciones .insignia{background-image: url(../../img/call/observaciones.png);}
#callcenter .field input{margin: 0px; font-size: 13px;padding: 0px 3px; height: 30px; line-height: 30px; vertical-align: middle; background-color: transparent; width: 230px; border: 0px solid red; font-family: Arial, Helvetica, sans-serif;}
#callcenter .field.mini input{width: 40px; font-size: 16px; padding-left: 5px;}
#callcenter .field input:focus{outline:none;}
#callcenter .field.textarea{height: 70px;}
#callcenter .field textarea{margin: 0px;padding: 4px 0px 0px 0px; width: 230px; height: 100%; border:none; background-color: transparent;}
#callcenter .field textarea:focus{outline:none;}
#callcenter .separador{border:none; border-top: 1px solid #BBB; height: 7px; overflow: hidden; margin-top: 12px;}
#callcenter .opciones{ margin: 0px 0px 7px 0px; line-height: 16px; font-size: 12px;}
#callcenter .opciones .tools-check{ width: 12px; height: 12px; border: 1px solid #999; background-color:transparent; float: left; margin: 2px 8px 0px 0px; cursor: pointer;}
#callcenter .opciones .tools-check.activo{ background-color: #FBBB13;}
#callcenter .botones{margin-top: 15px;}
#callcenter .solicitar{text-transform: uppercase; text-align: center; color: #fff; cursor: pointer; font-weight: bold;}
#callcenter .solicitar.ahora{ font-size: 14px; padding: 10px 4px; margin-bottom: 6px; background-color: #FDB92B;}
#callcenter .solicitar.ahora:hover{ background-color: #DFA325;}
#callcenter .solicitar.mastarde{font-size: 14px; padding: 10px 4px; margin-bottom: 6px;  background-color: #555;}
#callcenter .solicitar.mastarde:hover{background-color: #444;}
#carateristicas{margin-top: 10px;}


#radio_wrapper{}
#usuario_wrapper{}
	
	
	
#sessions{width: 200px;}
#sessions .session {display: noneX;  position: relative; border: 1px solid #999;background-color: #FFF; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); font-size: 11px; color: #333; padding: 4px 6px 4px 6px; margin-bottom: 6px;}
#sessions .session .wrapper {  position: relative; padding: 0px; border: 0px solid red;}
#sessions .session .peer {border: 0px solid green;}
#sessions .session .peer span {  font-size: 12px;  color: #555;}
#sessions .session .peer span.display-name { font-weight: bold;  color: #333;  margin-right: 5px;}
#sessions .session .peer span.uri {display: none;}
#sessions .session .wrapper > .call {margin-top: 0px;color: #333; border: 0px solid blue; text-align: right;}
#sessions .session .wrapper > .call > .btn {width: 20px; height: 20px; padding: 0px; line-height: 20px; text-align: center; vertical-align: middle; margin-left: 3px; }
#sessions .session .wrapper > .call .call-status {float: left;width: 130px; padding-top: 3px;text-align: left;font-size: 12px;}
/*#sessions .session .wrapper > .call.inactive .hangup {cursor: default;  opacity: 0.4; }*/
/*#sessions .session .wrapper > .call.trying .dial {cursor: default;  opacity: 0.4; }*/
#sessions .session .wrapper > .call.trying .call-status { color: #666; }
/*#sessions .session .wrapper > .call.in-progress .dial { cursor: default; opacity: 0.4; }*/
#sessions .session .wrapper > .call.in-progress .call-status { color: #C49300; }
#sessions .session .wrapper > .call.incoming .call-status { color: #C49300; }
/*#sessions .session .wrapper > .call.answered .dial { cursor: default; opacity: 0.4; }*/
#sessions .session .wrapper > .call.answered .call-status { color: #008000; }
/*#sessions .session .wrapper > .call.answered-elsewhere .dial { cursor: default; opacity: 0.4; }*/
/*#sessions .session .wrapper > .call.answered-elsewhere .hangup { cursor: default; opacity: 0.4; }*/
#sessions .session .wrapper > .call.answered-elsewhere .call-status { color: #558000; }
/*#sessions .session .wrapper > .call.on-hold .dial { cursor: default; opacity: 0.4;}*/
#sessions .session .wrapper > .call.on-hold .call-status { color: #008000; }
/*#sessions .session .wrapper > .call.terminated .dial { cursor: default; opacity: 0.4; }*/
/*#sessions .session .wrapper > .call.terminated .hangup { cursor: default; opacity: 0.4; }*/
#sessions .session .wrapper > .call.terminated .call-status { color: #FF2200; }

#webcam {position: absolute;top: 60px;right: 100px;width: 400px;height: 300px;padding: 6px;border-radius: 10px;border: 2px solid #EEE;display: none;}
#remoteView {width: 400px;height: 300px;background-color: #000;border: 1px solid #999;}
#selfView {position: absolute;bottom: 6px;left: 6px;width: 133px;height: 100px;background-color: #111;border-top: 2px solid #CCC;border-right: 2px solid #CCC;border: 1px solid #999; }




/* Responsive */
@media (min-width: 1200px) {
}

@media (min-width: 991px) and (max-width: 1200px)  {
}

@media (min-width: 768px) and (max-width: 991px) { 
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}

@media (max-width: 480px) {
}