/*Bootstrap overwrite*/
a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus { background-color: #656565; border-color: #152F6A; color: #FFFFFF; z-index: 2;}
#cvs{width: 100%;}
#dashboard-list-links{padding-top: 1.7em;}
#dashboard-graphical{padding-left: 0;}
.panel-heading-graphical>div{height: 100%;}
#graphical_accordion_years{height: 50px; margin-bottom: 0px; clear: both; width: 70%; margin: auto;}
.btn-graphical{width: 100%;}
.minus-padding{padding-left: 4px; padding-right: 4px;}
.month-selected{background-color: #EBEBEB;}
#graphical_accordion_months { clear: both; height: 100%; margin: auto auto 1em; overflow: auto; width: 100%;}
.responsive-button{float:right;}
.responsive-btn{float: right;}
#rgraph_key{background-color: #FFFFFF; border: 1px solid #000000; border-radius: 5px; display: block; margin: auto; padding: 4px; width: 111px;}
#legend-color{display: inline-block; margin-right: 5px; margin-top: 4px; width: 15px; height: 15px; background-color: #FDB700;}
@media (max-width: 991px) {
	.responsive-prev, .responsive-next{width: 20%; float: left;}
	.responsive-year{width: 60%; float: left;}
	#graphical_accordion_years{width: 100%; height: 100%; float: left;}
	.responsive-month{width:25%; float:left;}
	.responsive-title{width:70%; float: left; height: 100%; overflow: hidden;}
	.responsive-button{width:30%; height: 100%; overflow: hidden; float:right;}
	.responsive-btn{width: 100%; font-size: 12px; float: right;}
}
@media (max-width: 860px) {
	.responsive-btn{width: 100%; font-size: 11px;}
}