#datepicker_wrapper, #timepicker_wrapper { width: 280px; margin: 0px auto; border: 0px solid #999;}
#datepicker_wrapper .ui-datepicker-prev, #datepicker_wrapper .ui-datepicker-next{border: 1px solid #eee;background-color: #eee; padding: 0px; width: 20px; height: 20px; -webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;}
/*#datepicker_wrapper .ui-datepicker-head{background-color: #ddd;}*/
#datepicker_wrapper .ui-datepicker-title{color: #777;}
#timepicker_wrapper {margin-bottom: 20px;}
#datepicker_wrapper .ui-widget-content, #timepicker_wrapper .ui-widget-content { border: none; background: none;}
#datepicker_wrapper .ui-widget, #timepicker_wrapper .ui-widget {font-size: 14px; color: #777; }
#datepicker_wrapper .ui-widget-header{border: none; background: none;}
#datepicker_wrapper .ui-datepicker td {padding: 4px; }
/*#datepicker_wrapper .ui-datepicker-today{ background-color: red;}*/
#datepicker_wrapper .ui-state-default{ border: 1px solid #EEE; width: 24px; height: 24px; margin: 0px auto; text-align: center; -webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%; color: #999; }
#datepicker_wrapper a.ui-state-default{ color: #EAB71C;}
#datepicker_wrapper a.ui-state-default.ui-state-highlight{ background:none; background-color: #555; border: 1px solid #555; color: #EAB71C; font-weight: bold;}
#datepicker_wrapper a.ui-state-default.ui-state-active{ background:none; background-color: #999; border: 1px solid #EEE; color: #FFF; font-weight: bold;}

#timepicker_wrapper .ui-widget-header{display: none;}
#timepicker_wrapper .ui-datepicker-buttonpane{display: none;}
#timepicker_wrapper .ui-slider-horizontal{height: 12px; background-color: #DDD; -webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
#timepicker_wrapper .ui-slider-handle{ -webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%; border: 1px solid #555; background: none; background-color: #555;}
#timepicker_wrapper .ui-slider-handle:focus{border: 0px solid #999; outline: 0;-webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);-moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);}
