#new_enterprise_wrapper{margin-bottom: 30px; display: none;}
#result_enterprises .item{ height: 76px; overflow: hidden;}

#new_employee{}
#new_employee .form-group{padding-right: 0px;}
#employees_list{ font-size: 12px;}
#employees_list tr.active{color: #000; font-weight: bold;}
#employees_list tr.inactive{color: #999;}
#employees_list td.botonera{}
#employees_list tr.active td.botonera span.authorize{display: none;}
#employees_list tr.inactive td.botonera span.ban{display: none;}
#employees_list td.botonera i{float: right; font-size: 18px; margin-left: 6px; cursor: pointer;}
/* Responsive */
@media (min-width: 1200px) {
}

@media (min-width: 991px) and (max-width: 1200px)  {
}

@media (min-width: 768px) and (max-width: 991px) { 
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}

@media (max-width: 480px) {
}