#historical_accordion{}
#historical_accordion .journeys_wrapper tr.canceled td{color: red;}

#radios_list{}
#radios_list>.item{  float: left; width: 50%; text-align: center; padding: 4px 0px; margin: 0px; cursor: pointer;}
#radios_list>.item:hover{background-color: #FDB700; color: #fff;}

.journeys_sm_list{}
.journeys_sm_list .item, .journeys_md_list .item, .journeys_viewer_list .item{border-left: 4px solid #999; background-color: #F1F1F1; margin-bottom: 10px; padding: 5px 0px; cursor: pointer; margin-left: 0px; margin-right: 0px;}
.journeys_sm_list .item:hover, .journeys_md_list .item:hover, .journeys_viewer_list .item:hover{background-color: #E1E1E1;}
.journeys_sm_list .item.pending, .journeys_md_list .item.pending, .journeys_viewer_list .item.pending{border-left: 4px solid #f19209;}
.journeys_sm_list .item.completed, .journeys_md_list .item.completed, .journeys_viewer_list .item.completed{border-left: 4px solid #94C522;}
.journeys_sm_list .item.canceled, .journeys_md_list .item.canceled, .journeys_viewer_list .item.canceled{border-left: 4px solid #98000A;}
.journeys_sm_list .item.assigned, .journeys_md_list .item.assigned, .journeys_viewer_list .item.assigned{border-left: 4px solid #419959;}
.journeys_sm_list .item.accepted, .journeys_md_list .item.accepted, .journeys_viewer_list .item.accepted{border-left: 4px solid #419959;}
.journeys_sm_list .item.picked, .journeys_md_list .item.picked, .journeys_viewer_list .item.picked{border-left: 4px solid #1ecbf0;}

.journeys_sm_list .item>div, .journeys_md_list .item>div{line-height: 28px; vertical-align: middle;}
.journeys_sm_list .item .time{font-size: 24px; font-weight: bold;}
.journeys_sm_list .item .date{font-size: 16px; font-weight: bold; font-family: Helvetica, sans-serif;}

.journeys_md_list .item .date{font-size: 16px; font-weight: bold; font-family: Helvetica, sans-serif;}

.journeys_viewer_list .item{}
.journeys_viewer_list .item>div{ }
.journeys_viewer_list .item .date,
.journeys_viewer_list .item .caller,
.journeys_viewer_list .item .origin {vertical-align: middle; overflow: hidden;}
.journeys_viewer_list .item .caller_phone{font-size: 16px; font-weight: bold; font-family: Helvetica, sans-serif; padding-left: 5px;}
.journeys_viewer_list .item .date{text-align:center; font-size: 17px; font-weight: bold; font-family: Helvetica, sans-serif; padding-left: 5px;}
.journeys_viewer_list .item .time{text-align:center; font-size:20px; font-weight: bold; font-family: Helvetica, sans-serif; padding-left: 5px;}
.journeys_viewer_list .item .actions .button {cursor: pointer; width: 50px; height: 50px; text-align: center;padding: 0px; line-height: 58px; vertical-align: middle; margin: 0px;}
.journeys_viewer_list .item .actions .button.detail{background-color: #AAA;}
.journeys_viewer_list .item .actions .button.assign{background-color: #419959;}
.journeys_viewer_list .item .actions .button i{font-size: 30px;color: #F1F1F1;}
.journeys_viewer_list .item .actions .longbutton{width: 120px; height: 50px; text-align: center;padding: 0px; margin: 2px 0px; line-height: 14px;}
.journeys_viewer_list .item .actions .longbutton.assign{ background-color: #419959; margin-left: 4px; color: #F1F1F1; }
.journeys_viewer_list .item .actions .longbutton.assign .label{border: 0px solid #999;margin:4px auto; font-size: 10px;}
.journeys_viewer_list .item .actions .longbutton.assign input{border: 0px solid #999;margin:4px auto; width: 100px; font-size: 14px; color: #000; font-weight: bold; font-family: Helvetica, sans-serif; padding: 4px 7px; text-align: center;}
.journeys_viewer_list .item .actions .longbutton.assign input:focus{ outline: 0; }
.journeys_viewer_list .item .actions .longbutton.cancel{background-color: #99394E; height: 30px; line-height:30px;margin:4px auto; color: #F1F1F1 }
.journeys_viewer_list .item .features{font-size: 12px;}


.journeys_viewer_list .item .title{font-weight: bold;}

.journeys_viewer_list .item .actions .longbutton.request{ background-color: #99394E; margin-left: 4px; color: #F1F1F1; }
.journeys_viewer_list .item .actions .longbutton.request .aviso{border: 0px solid #999;margin:10px auto; font-size: 13px; padding: 0px; font-weight: bold;}



#journey_details_wrapper{border: 0px solid #999;}
#journey_details_wrapper .status{text-align: center;font-size: 16px; color: #999; margin: -15px 0px 10px 0px; padding: 0px; font-weight: bold;line-height: 18px; text-transform: uppercase;}
.modal.canceled #journey_details_wrapper .status{color: #99394E;}
.modal.assigned #journey_details_wrapper .status{color: #419959;}
.modal.pending #journey_details_wrapper .status{color: #f19209;}
.modal.completed #journey_details_wrapper .status{color: #94C522;}
#journey_details_wrapper .journey_detail_date_time{text-align: center;font-size: 18px; color: #999; margin: 0px; padding: 0px; line-height: 18px;}
/*#journey_details_wrapper .date{text-align: center;font-size: 17px; color: #999; margin: 0px; padding: 0px; line-height: 18px;}*/
/*#journey_details_wrapper .time{text-align: center;font-size: 36px; color: #555; margin: 0px; padding: 0px; font-weight: bold; line-height: 38px;}*/
#journey_details_wrapper .time{font-weight: bold; font-size: 20px;}
#journey_details_wrapper .address{text-align: center;font-size: 18px; color: #555; margin: 12px 0px 0px 0px; padding: 0px; font-weight: bold; line-height: 20px;}
#journey_details_wrapper .origin{ background-color: rgba(0,0,0,0.85) ;padding-top: 10px; border:0px solid red; margin: -60px -20px 0px -20px; height: 40px; position: relative; z-index: 10001; text-align: center; line-height: 20px; font-family:Helvetica, sans-serif; vertical-align: middle; font-size: 15px; color: #fff; font-weight: bold;}
#journey_details_wrapper .origin span{font-style: italic;}



#journey_details_wrapper .agents{margin-top: 20px; line-height: 14px;}
#journey_details_wrapper .agents .title{border-bottom: 1px solid #999; padding-bottom: 3px; margin-bottom: 3px; font-weight: bold;}
#journey_details_wrapper .agents>div{cursor: pointer; text-align: center;}
#journey_details_wrapper .agents>div:hover{color: #888;}
#journey_details_wrapper .agents span{font-size: 12px;}
#journey_details_wrapper .agents .driver{ }
#journey_details_wrapper .agents .driver:hover{color: #888;}
#journey_details_wrapper .agents .driver:hover img{border: 1px solid #FDB700;}
#journey_details_wrapper .agents .driver img{width: 40px; margin-bottom: 5px;border: 1px solid #FFF;}
#journey_details_wrapper .agents .driver span{font-size: 12px;}


#journey_details_wrapper .indications{margin-top: 20px; border: 0px solid #999; text-align: center;}

#journey_details_wrapper .details{margin-top: 20px; border: 0px solid #999; text-align: center;}
#journey_details_wrapper .details .item{margin-right: 15px; font-size: 13px;}

#journey_details_wrapper .tracing{margin-top: 40px; line-height: 14px; border: 0px solid #999; text-align: center;}
#journey_details_wrapper .tracing .item{border-bottom: 1px solid #EEE; padding: 3px; font-size: 12px;}
#journey_details_wrapper .tracing .item:last-child{border-bottom: 0px solid #999;}


#journey_details_modal .modal-header{background: url(../../img/common/ribbon_default.png) no-repeat; position: relative; top:-3px;left:-3px;height: 40px;}

#journey_details_modal.pending .modal-header{background: url(../../img/common/ribbon_pending.png) no-repeat;}
#journey_details_modal.assigned .modal-header{background: url(../../img/common/ribbon_assigned.png) no-repeat;}
#journey_details_modal.canceled .modal-header{background: url(../../img/common/ribbon_canceled.png) no-repeat;}
#journey_details_modal.completed .modal-header{background: url(../../img/common/ribbon_completed.png) no-repeat;}
#journey_details_modal.reserved .modal-header{background: url(../../img/common/ribbon_pending.png) no-repeat;}
#journey_details_modal.accepted .modal-header{background: url(../../img/common/ribbon_assigned.png) no-repeat;}
#journey_details_modal.picked .modal-header{background: url(../../img/common/ribbon_picked.png) no-repeat;}
#journey_details_modal.onway .modal-header{background: url(../../img/common/ribbon_picked.png) no-repeat;}



#journey_details_modal.pending .modal-footer button.pending{display:none;}
#journey_details_modal.assigned .modal-footer button.assign{display:none;}
#journey_details_modal.canceled .modal-footer button.cancel,
#journey_details_modal.canceled .modal-footer button.assign {display:none;}
#journey_details_modal.cancelation_request .modal-footer button.complete,
#journey_details_modal.cancelation_request .modal-footer button.assign {display:none;}
#journey_details_modal.reserved .modal-footer button.pending{display:none;}
#journey_details_modal.completed .modal-footer button.complete,
#journey_details_modal.completed .modal-footer button.pending {display:none;}
#journey_details_modal.purged .modal-footer button.purge,
#journey_details_modal.purged .modal-footer button.pending,
#journey_details_modal.purged .modal-footer button.assign {display:none;}
#journey_details_modal.accepted .modal-footer button.pending{display:none;}




/* Responsive */
@media (min-width: 1200px) {
}

@media (min-width: 991px) and (max-width: 1200px)  {
}

@media (min-width: 768px) and (max-width: 991px) { 
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}

@media (max-width: 480px) {
}