
#success, #error, #tutorial{display: none;}

#error span{
    color: #FF9900;
    cursor: pointer;
    
}

#boton_reintentar {
    background-color: #0474be;
    border-radius: 0px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.tab-content{
    border: 1px solid #DDD;
    border-top: none;
    padding: 20px;
}


.tab-pane p{
    text-align: left;
    margin-bottom: 20px;
    font-size: 14px;
}

.tab-pane img{
    margin: 0px auto 30px auto;
}


/* Responsive */
@media (min-width: 1200px) {}

@media (min-width: 991px) and (max-width: 1200px)  {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 991px) {}

@media (max-width: 767px) {}

@media (max-width: 550px) {
}

@media (max-width: 480px) {
}

@media (max-width: 400px) {
}


