#new_enterprise_wrapper{margin-bottom: 30px; display: none;}
#result_enterprises .item{ height: 76px; overflow: hidden;}
.colday{float:left; width:auto;}
#hournona{width: 75px;height: 24px;color: #1579c0;background-color: white;font-size: 10px;text-align: center;font-weight: 600;border-right: 1px solid white;border-bottom: 1px solid white;}
.hourbasic{width: 75px;height: 35px;color: #1579c0;background-color: #e2dfcb;font-size: 10px;text-align: center;font-weight: 600;border-right: 1px solid white;padding-top: 10px;border-bottom: 1px solid white;border-top: 2px solid white;}
.daybasic{width:auto;background-color: #eeece1;border-bottom: 1px solid white;border-right: 1px solid white;border-left: 2px solid white;height: 24px;font-size: 11px;font-weight: 700;color: black;text-align: center;padding-top: 4px;}
#new_employee{}
#new_employee .form-group{padding-right: 0px;}
#employees_list{ font-size: 12px;}
#employees_list tr.active{color: #000; font-weight: bold;}
#employees_list tr.inactive{color: #999;}
#employees_list td.botonera{}
#employees_list tr.active td.botonera span.authorize{display: none;}
#employees_list tr.inactive td.botonera span.ban{display: none;}
#employees_list td.botonera i{float: right; font-size: 18px; margin-left: 6px; cursor: pointer;}
/* Responsive */
@media (min-width: 1200px) {
}

@media (min-width: 991px) and (max-width: 1200px)  {
}

@media (min-width: 768px) and (max-width: 991px) { 
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}

@media (max-width: 480px) {
}