#new_enterprise_wrapper{margin-bottom: 30px; display: none;}
#result_enterprises .item{ height: 76px; overflow: hidden;}
.colday{display:inline-table; width:auto;}
#hournona{width: 75px;height: 24px;color: #1579c0;background-color: white;font-size: 10px;text-align: center;font-weight: 600;border-right: 1px solid white;border-bottom: 1px solid white;}
.hourbasic{width: 75px;height: 35px;color: #1579c0;background-color: #e2dfcb;font-size: 10px;text-align: center;font-weight: 600;border-right: 1px solid white;padding-top: 10px;border-bottom: 1px solid white;border-top: 2px solid white;}
.daybasic{min-width:150px; width:auto;background-color: #eeece1;border-bottom: 1px solid white;border-right: 1px solid white;border-left: 2px solid white;height: 24px;font-size: 11px;font-weight: 700;color: black;text-align: center;padding-top: 4px;}
#new_employee{}
.boxcerrado{text-align:center; color:black; font-weight:600; font-size:11px; padding-top:8px;}
.actividad{min-width: 105px; float:left;cursor: pointer;width:auto;background-color: #e5f4d4;height: 35px;border-top: 2px solid white;border-left: 2px solid white;border-bottom: 1px solid white;border-right: 1px solid white;}
.actividadcompleta{min-width: 105px; float:left;cursor: pointer;width:auto;background-color: #f3dcdc;height: 35px;border-top: 2px solid white;border-left: 2px solid white;border-bottom: 1px solid white;border-right: 1px solid white;}
.actividadfinalizada{min-width: 105px; float:left;cursor: pointer;width:auto;background-color: #f2f2f2;height: 35px;border-top: 2px solid white;border-left: 2px solid white;border-bottom: 1px solid white;border-right: 1px solid white;}
.actividadcerrada{min-width: 105px; float:left;cursor: pointer;width:auto;background-color: #f2f2f2;height: 35px;border-top: 2px solid white;border-left: 2px solid white;border-bottom: 1px solid white;border-right: 1px solid white;}
.actividadreservada{min-width: 105px; float:left;cursor: pointer;width:auto;background-color: #fbd4b4;height: 35px;border-top: 2px solid white;border-left: 2px solid white;border-bottom: 1px solid white;border-right: 1px solid white;}
.actup{width: auto; margin-left: auto; margin-right: auto; overflow: auto; text-align: center; height: 18px; line-height: 17px;}
.nombreactividad{font-weight: 700; color: black; font-size: 14px; display: inline-block; margin-left: auto; width: auto; margin-right: auto;}
.nombreactividadspan{font-size: 11px; color: black; font-weight: 500;}
.actdown{width: auto; overflow: auto; text-align: center; line-height: 13px; height: 14px;}
.capacidadactividad{display: inline-block; width: auto; font-size: 11px; color: black;}
.spandisponible{background-color: #92d050; color: white; font-size: 12px; font-weight: 600; margin-right: 1px;}
.spancompleta{background-color: #c00000; color: white; font-size: 12px; font-weight: 600; margin-right: 1px;}
.spancerrada{background-color: #7f7f7f; color: white; font-size: 12px; font-weight: 600; margin-right: 1px;}
.spanreservada{background-color: #e36c0a; color: white; font-size: 12px; font-weight: 600; margin-right: 1px;}
.spanfinalizada{background-color: #7f7f7f; color: white; font-size: 12px; font-weight: 600; margin-right: 1px;}
/* Prueba */
.horavacia{height: 35px; overflow: auto; background-color: #f2f2f2;}
.unaact > div {width: 100% !important;}
#new_employee .form-group{padding-right: 0px;}
#employees_list{ font-size: 12px;}
#employees_list tr.active{color: #000; font-weight: bold;}
#employees_list tr.inactive{color: #999;}
#employees_list td.botonera{}
#employees_list tr.active td.botonera span.authorize{display: none;}
#employees_list tr.inactive td.botonera span.ban{display: none;}
#employees_list td.botonera i{float: right; font-size: 18px; margin-left: 6px; cursor: pointer;}
/* Responsive */
@media (min-width: 1200px) {
}

@media (min-width: 991px) and (max-width: 1200px)  {
}

@media (min-width: 768px) and (max-width: 991px) { 
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}

@media (max-width: 480px) {
}