.coolform{margin-bottom: 100px;margin-top: 60px; padding-top: 0px;}
.insignia{
    width: 100px;
}
.coolform h1{
    padding-top: 0px;
    margin-top: 15px;
    font-family: Arial;
    text-align: center;
    font-size: 36px;
    font-weight: 200;
    color: #181818;
    text-transform: uppercase;
}

.coolform h3{
    padding-top: 0px;
    margin-top: 0px;
    font-family: Arial;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #888;
    text-transform: uppercase;
}

.coolform ul{ list-style-type: none ; }
.coolform li{ display: inline ; }
.coolform .formulario{width: 90%; margin: 20px auto; text-align: center;}
.coolform .formulario input[type=text],
.coolform .formulario input[type=password]{color: #BBB; border: 0px solid #999; border-bottom: 1px solid #BBB; background-color: transparent; width: 100%; margin: 15px auto;}
.coolform .formulario input.strech{width: 60%; margin-right: 0px; margin-left: 0px;}
.coolform .formulario input.medio{width: 47%; margin-right: 0px; margin-left: 0px;}
.coolform .formulario input.izq{margin-right: 5%;}
.coolform .formulario input.fail{border-bottom: 1px solid #851A1F; color: #851A1F; background-color: #F1F1F1;}
.coolform .formulario input:focus{ outline: 0; }
.coolform .btn{ background-color: #0474be; border-radius: 0px; font-family: Arial; font-weight: 600; font-size: 16px; padding-left: 20px;padding-right: 20px; margin-top: 15px; margin-bottom: 15px;}


#fehm.coolform .btn{ background-color: #BAC447; border-radius: 0px; font-family: Arial; font-weight: 600; font-size: 16px; padding-left: 20px;padding-right: 20px; margin-top: 15px; margin-bottom: 15px;}


/* Responsive */
@media (min-width: 1200px) {}

@media (min-width: 991px) and (max-width: 1200px)  {}

@media (max-width: 991px) {}

@media (max-width: 767px) {
    .coolform .formulario input.strech[type=text],
    .coolform .formulario input.strech[type=password]{ width: 100%; margin-left: 0; margin-right: 0;}
}

@media (max-width: 480px) {
    .coolform .formulario input[type=text],
    .coolform .formulario input[type=password]{ width: 100%; margin-left: 0; margin-right: 0;}
}

@media (max-width: 400px) {

}
