#new_delegation_wrapper{margin-bottom: 30px; display: none;}

#delegations_list_wrapper{}
#delegations_list_wrapper .item{background-color: #eee; height: 44px; overflow: hidden; margin-bottom: 20px; cursor: pointer;}
#delegations_list_wrapper .item .number{float: left; width: 44px; height: 44px; background-color: #FDB702; margin-right: 8px; text-align: center; line-height: 44px; vertical-align: middle; font-weight: bold; font-size: 20px;}
#delegations_list_wrapper .item .title{line-height: 44px; vertical-align: middle; font-size: 17px; margin-bottom: 0px; padding-bottom: 0px;}

#features_list .item{cursor: pointer;}



/* Responsive */
@media (min-width: 1200px) {
}

@media (min-width: 991px) and (max-width: 1200px)  {
}

@media (min-width: 768px) and (max-width: 991px) { 
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}

@media (max-width: 480px) {
}