#progress_bar{background-color: #075a8f; height: 4px; width: 1%; position: fixed; margin-top:39px; z-index: 900;}


/*LEVEL1*/
#level1{ background-image: url(../../img/i18n/level1_bg_hq_es.jpg); background-color: #000; background-position: center top; background-repeat: no-repeat; min-height: 400px; }
#level1.cr{ background-image: url(../../img/i18n/level1_bg_hq_cr.jpg);  }
#level1.pa{ background-image: url(../../img/i18n/level1_bg_hq_pa.jpg); }
#level1.pe{ background-image: url(../../img/i18n/level1_bg_hq_pe.jpg); }
#level1.ad{ background-image: url(../../img/i18n/level1_bg_hq_ad.jpg); }
#level1 #play_video{display:none; position: absolute; width: 56px; height: 49px; background:url(../../img/home/play_video.png) no-repeat; right: 0px; top: 150px; cursor: pointer;}
#level1.es #play_video{display:none;}
#level1_1{ width: 880px;  margin: 40px auto 40px auto;}
/*#logo{float: left; margin: 0px 30px 0px 0px; background: url("http://crossfitjerez.com/static/img/i18n/icono_mini_ppal.png") repeat scroll 0 0 / 100% auto; height: 152px; width: 850px;}
*/
#logo {float: left; margin: 0px 30px 0px 0px; background: url("http://crossfitjerez.com/static/img/i18n/icono_mini_ppal.png") repeat scroll 0 0 / auto; height: 300px; background-size: 25%; width: 850px; background-position: center; background-position-x: center; background-repeat: no-repeat;}
#level1_1 h1{color: #FFF;font-weight: 200;font-size: 49px;margin: 16px 0px 0px 0px;padding: 0px;font-family: Arial; }
#level1_1 h3{color: #FFF;font-weight: 400;font-size: 31px;margin: 10px 0px 0px 0px;padding: 0px;font-family: Arial;text-shadow: 0px 0px 5px #666;filter: dropshadow(color=#666, offx=0, offy=0);}
#level1_1 .botonera{ margin-top: 15px;}
#level1 .parrafo{min-height: 80px;}
#level1_1 .google_play{background: url(../../img/home/google_play_portada.png) no-repeat; min-width: 86px; height: 30px; background-position: center;}
#level1_1 .app_store{background: url(../../img/home/app_store_portada.png) no-repeat; min-width: 86px; height: 30px; background-position: center;}
#boton_descargar{ background-color: #075a8f; border-radius: 0px; font-family: Arial; font-weight: 600; font-size: 18px; padding-left: 20px; padding-right: 20px; float: left;}
#boton_google_play{float: left;margin-left: 25px; }
#boton_app_store{ float: left; margin-left: 25px; }

@media (max-width: 1499px) {
    #level1{ background-image: url(../../img/i18n/level1_bg_lg_es_2.jpg); background-size: 100% auto;}
    #level1.cr{ background-image: url(../../img/i18n/level1_bg_lg_cr.jpg);}
    #level1.pa{ background-image: url(../../img/i18n/level1_bg_lg_pa.jpg);}
    #level1.pe{ background-image: url(../../img/i18n/level1_bg_lg_pe.jpg);}
    #level1.ad{ background-image: url(../../img/i18n/level1_bg_lg_ad.jpg);}
}

@media (max-width: 991px) {
    #level1{ background-image: url(../../img/i18n/level1_bg_lg_es_2.jpg); background-size: 100% auto;}
	#level1_1{width: auto;}
	/*#logo{margin: 0px 15px 0px 0px; width: 100%; height: 120px; }*/
    #logo { float: left; margin: 0px 30px 0px 0px; background: url("http://crossfitjerez.com/static/img/i18n/icono_mini_ppal.png") repeat scroll 0 0 / auto; height: 300px; background-size: 31%; width: 100%; background-position-x: center; background-repeat: no-repeat; background-position: center;}
	#level1_1 h1{font-size: 40px;margin: 10px 0px 0px 0px;}
	#level1_1 h3{font-size: 25px;margin: 10px 0px 0px 0px;}
	#boton_descargar{ font-size: 14px; padding-left: 10px; padding-right: 10px; }
    #boton_google_play{ margin-left: 25px; }
    #boton_app_store{ margin-left: 25px; }
    #titulonuevo{display: none;}
    #divlogo{width:100% !important;}
}
@media (max-width: 767px) {
	#level1{background-image: url(../../img/i18n/level1_bg_md_es.jpg); background-size: auto;}
    #level1.cr{background-image: url(../../img/i18n/level1_bg_md_cr.jpg);}
	#level1.pa{background-image: url(../../img/i18n/level1_bg_md_pa.jpg);}
	#level1.pe{background-image: url(../../img/i18n/level1_bg_md_pe.jpg);}
	#level1.ad{background-image: url(../../img/i18n/level1_bg_md_ad.jpg);}
	/*#logo{ margin: 50px auto 0; width: 380px; height: 200px;  float:none; background: url("http://crossfitjerez.com/static/img/i18n/icono_adaptado.png") repeat scroll 0 0 / 100% auto;}
	*/
    #logo { margin: 0px auto 0; width: 380px; height: 315px; float: none; background: url("http://crossfitjerez.com/static/img/i18n/icono_mini_ppal.png") repeat scroll 0 0 / auto; background-position-x: center; background-size: 60%; background-repeat: no-repeat; background-position: center;}
    #level1_1 h1{font-size: 35px;margin: 10px 0px 0px 0px; text-align: center;}
	#level1_1 h3{font-size: 20px;margin: 2px 0px 30px 0px; text-align: center;}
	#boton_descargar{ font-size: 12px;  }
	#level1_1 .google_play{margin-top:0px; margin-bottom: 10px;}
    #boton_google_play{ margin-left: 0px; }
    #boton_app_store{ margin-left: 0px; }
}

/*FIN LEVEL 1*/


/*LEVEL 3*/
#level3{  padding-bottom: 30px; border: 0px solid red; margin-top:-130px;}
.standar_level>.title{text-align: center;color: #000;font-size: 36px;font-weight: 200;margin: 40px auto 0px auto; }
.standar_level>.subtitle{text-align: center;color: #EBAF12;font-size: 18px;font-weight: 400;margin: 0px auto 50px auto; }

#level3 .imagen{
    margin: 0px auto;
    width: 300px;
    height: 166px;
    cursor:pointer;
}

#level3 #pasajeros .imagen{background: url(../../img/home/floor_01.png) no-repeat;}

#level3 #taxistas .imagen{background: url(../../img/home/floor_02.png) no-repeat;}

#level3 #empresas .imagen{background: url(../../img/home/floor_03.png) no-repeat; background-position: bottom;}

#level3 .titulo{
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}

#level3 .subtitulo{
    width: 242px;
    height: 15px;
    margin: auto;
    margin-bottom: 30px;
}

#level3 .descripcion{
    margin-bottom: 10px;
    height: 60px;
}

.btn.boton_gratis{background-color: #075a8f;border-radius: 0px;font-family: Arial;font-weight: 600;font-size: 16px;padding-left: 20px;padding-right: 20px;float: left;width: 100%;height: 62px;margin-bottom: 5px;}
.btn.boton_gratis .subtitle{color:#fae7c3; font-size: 16px;}
.gratis{background: url(../../img/home/gratis.png) no-repeat;width: 55px;height: 55px;position: relative;float: right;left: 3px;top: -70px;}


@media (min-width: 1500px) {
    #level1{background-size: 1500px;}
    #level1.cr{background-size: 1500px;}
    #level1.pa{background-size: 1500px;}
    #level1.pe{background-size: 1500px;}
    #level1.ad{background-size: 1500px;}
}

@media (min-width: 991px) and (max-width: 1200px)  {

}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (max-width: 991px) {
    #level1{min-height: 360px;}


}

/*@media (max-width: 767px) {
    #level1{min-height: 380px;}
}
*/
@media (max-width: 440px) {
    #logo{ width: 100%;}
}
/*
@media (max-width: 355px) {
    #logo{ height: 142px; width: 265px;}
}
*/
@media (max-width: 347px) {
    /*#logo{ height: 132px; width: 100%; margin-top: 35px; background-repeat: no-repeat;}*/
    #level1{ height: 241px; }
}

/*FIN LEVEL 3*/


/* Level 4 */
#level4{
    background: url(../../img/home/level4_bg.gif) repeat;
    padding-bottom: 30px;

}

.dark_level>.title{
    text-align: center;
    color: #F6B60C;
    font-size: 36px;
    font-weight: 200;
    margin: 40px auto 0px auto;
}

.dark_level>.subtitle{
    text-align: center;
    color: #999999;
    font-size: 18px;
    font-weight: 400;
    margin: 0px auto 50px auto;
}

#premapa{
    background-image: url(../../img/i18n/bg_mapa_es.png);
    background-size: 80%;
    background-position: center 140px;
    background-repeat: no-repeat;
    color: #fff;
    min-height: 650px;
}

#premapa.es{background-image: url(../../img/i18n/bg_mapa_es.png);}
#premapa.cr{background-image: url(../../img/i18n/bg_mapa_cr.png);}
#premapa.pa{background-image: url(../../img/i18n/bg_mapa_pa.png);}
#premapa.pe{background-image: url(../../img/i18n/bg_mapa_pe.png);}
#premapa.ad{background-image: url(../../img/i18n/bg_mapa_ad.png);}

#premapa .categoria{
    background-image: url(../../img/home/bullet_on.png);
    background-repeat: no-repeat;
    background-position: 0px 7px;
    border: 0px solid #999;
    margin-bottom: 12px;
    padding-left: 12px;
}

#premapa .categoria.off{ background-image: url(../../img/home/bullet_off.png);}

#premapa .categoria .title{
    color: #fff;
    font-family: Arial;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 12px;
}

#premapa .categoria.off .title{ color: #CCC;}

#premapa .subcategoria{
    color: #CCC;
    font-family: Arial;
    font-weight: 400;
    font-size: 12px;
    border: 0px solid #999;
    margin-bottom: 0px;
}

#premapa .subcategoria .item{
    border: 0px solid #999;
}

#premapa .formulario{
    margin-bottom: 12px;
    color: #999;
    font-family: Arial;
    font-weight: 400;
    font-size: 12px;
    border-left: 2px dotted #999;
    padding-left: 10px;
    padding-top: 0px;
}

#premapa .formulario p{}

#premapa .formulario input{
    border: 0px solid #999;
    border-bottom: 1px solid #444;
    background-color: transparent;
    color: #999;
    width: 90%;
    margin-bottom: 12px;
}

#premapa .formulario input:focus{ outline: 0; }
#premapa .formulario input.fail{border-bottom: 1px solid #851A1F; background-color: #444;}

#sugerir{
    width: 90%;
    text-align: right;
    cursor: pointer;
}

#ciudades{min-height: 300px;}


/* Level 5 */
#level5{
    background: url(../../img/home/level5_bg.png) repeat;
    padding-bottom: 60px;
}

.medium_level>.title{
    text-align: center;
    color: #444;
    font-size: 36px;
    font-weight: 200;
    margin: 40px auto 30px auto;
}

#loadingblog{ text-align: center; }
#loadingblog img{ margin: 30px auto 24px auto;}
#loadingblog .title{ color: #fff;font-size: 18px; font-weight: 600;}

#preblog{
    background-color: #FFF;
    color: #333;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 2px 6px -1px #666;
    box-shadow: 0px 2px 6px -1px #666;
    margin-bottom: 40px;
}

#preblog>img{
    height: 189px;
    margin: 15px 20px 15px 0px;
    float: left;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

#preblog .title{
    color: #3B3B3B;
    font-size: 20px;
    font-weight: 600;
    margin: 12px auto 10px auto;
    text-transform: uppercase;
}

#preblog .post{
    color: #626262;
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
    margin-right: 10px;
}

#preblog button{
    background-color: #075a8f;
    border-color: #075a8f;
    border-radius: 0px;
    font-family: Arial;
    font-weight: 600;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;

}

/* Responsive */
@media (min-width: 1200px) {
}

@media (min-width: 991px) and (max-width: 1200px)  {
}

@media (min-width: 768px) and (max-width: 991px) {
    #ciudades{margin-top: 400px;}

}

@media (min-width: 480px) and (max-width: 768px) {
    #ciudades{margin-top: 400px;}
}

@media (max-width: 480px) {
     #ciudades{margin-top: 300px;}
}

@media (max-width: 400px) {
    #premapa{background-position: center 200px;}
    #ciudades{margin-top: 300px;}
}


@media (max-width: 320px) {
    #ciudades{margin-top: 200px;}
}