#new_communication_wrapper{margin-bottom: 30px; display: none;}

#news_wrapper{}
#news_wrapper>.item{margin-bottom: 40px;}
/*#news_wrapper>.item.super:hover{background-color: #EEE;}*/
#news_wrapper>.item .labels i{margin-left: 4px; font-size: 16px; cursor: pointer;}
#news_wrapper>.item .labels i:hover{color: #991021;}
#news_wrapper>.item .labels .label{margin-left: 4px;}
#news_wrapper>.item .title{font-size: 20px; font-weight: bold; color: #666;}
#news_wrapper>.item .date{font-size: 12px;color: grey;}
#news_wrapper>.item .body{font-size: 14px;color: grey; margin-top: 10px; text-align: justify;}
#news_wrapper>.item .link{font-size: 14px;color: #999; margin-top: 10px;}






/* Responsive */
@media (min-width: 1200px) {
}

@media (min-width: 991px) and (max-width: 1200px)  {
}

@media (min-width: 768px) and (max-width: 991px) { 
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}

@media (max-width: 480px) {
}


/* Responsive */
@media (min-width: 1200px) {
}

@media (min-width: 991px) and (max-width: 1200px)  {
}

@media (min-width: 768px) and (max-width: 991px) { 
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}

@media (max-width: 480px) {
}