#drivers_sidebar{position: absolute; right: 0px; top:0px; width: 260px; height: 1px; background-color: #EEE; overflow: scroll; -webkit-transition: all 1s ease;-moz-transition: all 1s ease;-ms-transition: all 1s ease;-o-transition: all 1s ease;transition: all 1s ease;}
#drivers_sidebar>.title{text-align: center; margin: 8px; font-size: 22px; }
#drivers_sidebar .medium{text-align: center;}
#drivers_sidebar .medium .title{font-size: 12px; padding: 0px;}
#drivers_sidebar .medium .number{font-size: 40px; line-height: 34px; color: #075a8f; padding: 0px;}

#drivers_list{margin-top: 30px;}
#drivers_list .item{background-color: #F7F7F7; margin-bottom: 10px; cursor: pointer;}
#drivers_list .item .photo{width: 40px;}
#drivers_list .item .name{padding: 0px 4px; font-size: 15px; height: 20px;overflow: hidden;}
#drivers_list .item .data{padding: 3px 4px 0px 4px; font-size: 11px; height: 20px; overflow: hidden;}

/* Responsive */
@media (min-width: 1200px) {
}

@media (min-width: 991px) and (max-width: 1200px)  {
}

@media (min-width: 768px) and (max-width: 991px) { 
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}

@media (max-width: 480px) {
}