#new_radio_wrapper{margin-bottom: 30px; display: none;}

#radios_accordion{}
#radios_accordion .panel.closed .panel-heading .panel-title>a{ color: #888;}
#radios_accordion .panel.support .panel-heading .panel-title>a{ color: #333;}
#radios_accordion .panel.user .panel-heading .panel-title>a{ color: #075a8f;}
#radios_accordion .messages{ border: 0px solid #999; }
#radios_accordion .messages .message{ border: 0px solid #999; width: 70%; float: left; margin: 0px 0px 20px 0px; padding: 15px; background-color: #f9f9f9; border-radius: 4px;}
#radios_accordion .messages .message.reverse{float: right; }
#radios_accordion .messages .message .date{font-weight: bold; }
#radios_accordion form button{margin-right: 15px; }
#radios_accordion .panel.closed form{display: none;}

#locations_list{}
#locations_list .item{background-color: #eee; height: 44px; overflow: hidden; margin-bottom: 20px; cursor: pointer;}
#locations_list .item .minutes{float: left; width: 44px; height: 44px; background-color: #FDB702; margin-right: 8px; text-align: center; line-height: 40px; vertical-align: middle; font-weight: bold; font-size: 24px;}
#locations_list .item .cp{font-size: 18px; margin-bottom: 0px; padding-bottom: 0px;}
#locations_list .item .locality{font-size: 11px; margin-bottom: 0px; padding-bottom: 0px;}

#viewer_submenu{}
#viewer_submenu .badge{ font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif; font-size: 10px; display: none;}
#viewer_submenu .button.active .badge{ background-color: #075a8f; color: #FFF;}

#viewer_counter{text-align: center; margin-top: 80px;}
#viewer_counter .title{color: #DDD; font-size: 12px; margin: 0px; padding: 0px;}
#viewer_counter .time{color: #BBB; font-size: 50px; margin: 0px; padding: 0px; line-height: 40px;}

#stops_system_select{margin-bottom: 40px;}
#stops_system_select .item{border: 2px solid #EEE; text-align: center; padding: 10px 0px; font-size: 16px;}
#stops_system_select .item:hover{border: 2px solid #888;}

#stops_system_select.nostops .item.stop{font-weight: normal;  cursor: pointer;}
#stops_system_select.nostops .item.near{font-weight: bold;border: 2px solid #075a8f; color: #075a8f;}
#stops_system_select.nostops .item.near .fa-circle-o{display: none;}
#stops_system_select.nostops .item.stop .fa-dot-circle-o{display: none;}
#stops_system_select.stops .item.stop{font-weight: bold;border: 2px solid #075a8f; color: #075a8f;}
#stops_system_select.stops .item.near{font-weight: normal;  cursor: pointer;}
#stops_system_select.stops .item.near .fa-dot-circle-o{display: none;}
#stops_system_select.stops .item.stop .fa-circle-o{display: none;}

#stops_list{}
#stops_list .panel .field{font-size: 12px;}
#stops_list .panel .botonera{}
#stops_list .panel .botonera i{margin-left: 10px; cursor: pointer;}
#stops_list .panel .label{margin-right: 3px;}

#mapa_stops{background-color: #ddd; width: 100%; height: 400px; margin-bottom: 30px;}


#acciones_radios{border: 0px solid #999;}

/* Invoicing */
.panel-heading-invoice{overflow: auto; padding-bottom: 0; padding-right: 0; padding-top: 0;}
.panel-heading-invoice>h4{float: left; padding-bottom: 12px; padding-top: 14px; width: 83%;}
.panel-heading-invoice>.margin_yes{margin-top: 5px;}
.minus-padding{padding-left: 4px; padding-right: 4px;}
.invoice-padding{height: 100%; padding-bottom: 0.3em; padding-top: 0.3em;}
.responsive-button{float:right;}
.responsive-btn{float: right;}

@media (max-width: 991px) {
	.responsive-title{width:70%; float: left; height: 100%; overflow: hidden;}
	.responsive-button{width:30%; height: 100%; overflow: hidden; float:right;}
	.responsive-btn{width: 100%; font-size: 12px; float: right;}
}

@media (max-width: 860px) {
	.responsive-btn{width: 100%; font-size: 11px;}
}

/* Responsive */
@media (min-width: 1200px) {
}

@media (min-width: 991px) and (max-width: 1200px)  {
}

@media (min-width: 768px) and (max-width: 991px) { 
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}

@media (max-width: 480px) {
}