<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
   	<title>RadioMap | TAXIBLE</title>
    <meta name="title" content="RadioMap | TAXIBLE" />
    <link rel="shortcut icon" href="{{ BASE_URL }}/assets/img/common/favicon.ico">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
	<link rel="stylesheet" href="//cdn.jsdelivr.net/animatecss/2.1.0/animate.min.css">
	<link rel="stylesheet" href="{{ MEDIA }}css/base_dashboard.css">
	<link rel="stylesheet" href="{{ MEDIA }}css/partials/modals.css">
	<link rel="stylesheet" href="{{ MEDIA }}css/partials/radiomap.css">
</head>

<body data-radio-id="{{id}}">
	<div id="map"></div>
	
	<div id="drivers_sidebar">
		<div class="title">TAXISTAS</div>
		<div class="row">
			<div class="col-xs-6 medium">
				<div class="title">TOTALES</div>
				<div class="number" id="total_drivers"></div>
			</div>
			<div class="col-xs-6 medium">
				<div class="title">CONECTADOS</div>
				<div class="number" id="active_drivers"></div>
			</div>
		</div>
		<div id="drivers_list" class="row">
			
		</div>
	</div>
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" charset="utf-8">
		var base_url='{{BASE_URL}}';
		var media_url='{{MEDIA}}';
		var api_url='http://crossfit-reservasjerez.rhcloud.com/api/';
	</script>
	<script src="{{ MEDIA }}js/aux/date.js"></script>
	<script src="{{ MEDIA }}js/aux/journeys.js"></script>
	<script src="{{ MEDIA }}js/aux/modals.js"></script>
	<script src="{{ MEDIA }}js/radiomap.js"></script>
</body>
</html>
			
