.no-padding-top-bottom{padding-top: 0px; padding-bottom: 0px;}
#subscriber_accordion{margin-top: 2em;}
.graphical-driver-content {margin: auto; width: 79%;}
#link-graphical-journeys-year{height: 34px; padding: 0.5em; text-align: center; border-color:#CCCCCC;}
#link-graphical-money-year{height: 34px; padding: 0.5em; text-align: center; border-color:#CCCCCC;}
.activeIn{background-color: #EBEBEB; color:#333333;}
#row-calendar{margin: auto; width: 78%;}
#container_prev_year{padding-left: 1px; padding-right:0.5em;}
#container_current_year{padding:0px;}
#container_next_year{padding-left: 0.5em; padding-right:1px;}
@media (max-width: 992px) {
    #container_prev_year{padding-left: 0px; padding-right:0px;}
    #container_next_year{padding-left: 0px; padding-right:0px;}
    #cvs{margin-top: 7px;}
}
@media (max-width: 600px) {
    #row-calendar{width:95%;}
    .graphical-driver-content {width:100%;}
}
