#driver_form .file_uploader{
    width: 350px;
    height: 150px;
    border: 3px dashed grey;
    position: relative;
}



#driver_form .file_uploader input[type=file]{
    position: absolute;
    height: 150px;
    width: 350px;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
}

#driver_form .file_uploader p{
    position: absolute;
    top: 20px;
    margin: 0px auto;
    width: 350px;
    text-align: center;
}

#driver_form .file_uploader i{

    font-size: 60px;
    color: grey;
}