<div class="buttons_tools pull-right">
	<div class="item" onclick="show_new();"><!-- Nueva --> 
		<span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-plus fa-stack-1x fa-inverse"></i>
		</span>
	</div>
</div>

<h1 id="headertarifas" class="page-header">Calendario</h1>

<div id="submain">
	<div class="panel-group animated fadeInDown" id="enterprises_accordion">
		<div class="waiting"><i class="fa fa-cog fa-spin"></i></div>

		<div class="monthly" id="mycalendar"></div>



	</div>
</div>