<div class="buttons_tools pull-right">
	<div class="item" onclick="show_new();"><!-- Nueva --> 
		<span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-plus fa-stack-1x fa-inverse"></i>
		</span>
	</div>
</div>

<h1 id="headertarifas" class="page-header">Calendario</h1>

<div id="new_enterprise_wrapper">
	<h3 class="sub-header">Nuevo intervalo horario</h3>
	<form id="new_enterprise_form" role="form">
		<div class="row">
			<div class="col-md-3"><label style="margin-right: 20px; color: #555; margin-top: 7px; font-weight: 500;">Hora de inicio: </label><input style="width: 77px;" id="horaini" type="time" name="horaini"></div>
		  	<div class="col-md-3"><label style="margin-right: 20px; color: #555; margin-top: 7px; font-weight: 500;">Hora de fin: </label><input style="width: 77px;" id="horafin" type="time" name="horafin"></div>
		  	<div class="col-md-3"><label style="margin-right: 20px; color: #555; margin-top: 7px; font-weight: 500;">Duración: </label><input style="width: 77px;" id="duracion" type="text" name="duracion" readonly></div>
		</div><br>
		<h3 class="sub-header">Actividad</h3>
		<div class="row">
			<div class="col-md-8">
				<select id="actividad"></select>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-3"><input id="fechaconcreta" type="radio" name="fechaconcreta">Introducir una fecha concreta</div>
			<div class="col-md-3"><input id="fechapatron" type="radio" name="fechaconcreta">Introducir un patrón de tiempo</div>
		</div><br>
		<div class="row" id="divfecha" style="display:none;">
			<div class="col-md-4"><input type="date" class="form-control" id="fecha" placeholder="Fecha"></div>
		</div>
		<div id="divpatron" style="display:none;">
			<h3 class="sub-header">Día de la semana</h3>
		<div class="row">
			<div class="col-md-2"><input type="checkbox" id="lunes"> Lunes</div>
			<div class="col-md-2"><input type="checkbox" id="martes"> Martes</div>
			<div class="col-md-2"><input type="checkbox" id="miercoles"> Miércoles</div>
			<div class="col-md-2"><input type="checkbox" id="jueves"> Jueves</div>
		</div>
		<div class="row">
			<div class="col-md-2"><input type="checkbox" id="viernes"> Viernes</div>
			<div class="col-md-2"><input type="checkbox" id="sabado"> Sábado</div>
			<div class="col-md-2"><input type="checkbox" id="domingo"> Domingo</div>
			<div class="col-md-2"><input type="checkbox" id="todoslosdias"> Todos los días</div>
		</div>
		<br>
		<h3 class="sub-header">Mes</h3>
		<div class="row">
			<div class="col-md-2"><input type="checkbox" id="enero"> Enero</div>
			<div class="col-md-2"><input type="checkbox" id="febrero"> Febrero</div>
			<div class="col-md-2"><input type="checkbox" id="marzo"> Marzo</div>
			<div class="col-md-2"><input type="checkbox" id="abril"> Abril</div>
			<div class="col-md-2"><input type="checkbox" id="mayo"> Mayo</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-2"><input type="checkbox" id="junio"> Junio</div>
			<div class="col-md-2"><input type="checkbox" id="julio"> Julio</div>
			<div class="col-md-2"><input type="checkbox" id="agosto"> Agosto</div>
			<div class="col-md-2"><input type="checkbox" id="septiembre"> Septiembre</div>
			<div class="col-md-2"><input type="checkbox" id="octubre"> Octubre</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-2"><input type="checkbox" id="noviembre"> Noviembre</div>
			<div class="col-md-2"><input type="checkbox" id="diciembre"> Diciembre</div>
			<div class="col-md-2"><input type="checkbox" id="todoslosmeses"> Todos los meses</div>
			<div class="col-md-4">
				<button id="botonadd" type="submit" class="btn btn-default">Enviar</button>
		  	</div>
		</div>

		</div>
		
		
		
	</form>
</div>
<div id="submain">
	<div class="panel-group animated fadeInDown" id="enterprises_accordion">
		<div class="waiting"><i class="fa fa-cog fa-spin"></i></div>

		<div class="monthly" id="mycalendar"></div>



	</div>
</div>