<div class="buttons_tools pull-right">
	<div class="item" onclick="show_new();"><!-- Nueva --> 
		<span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-plus fa-stack-1x fa-inverse"></i>
		</span>
	</div>
</div>

<h1 id="headertarifas" class="page-header">Tarifas</h1>

<div id="new_enterprise_wrapper">
	<h3 class="sub-header">Nuevo horario</h3>
	<form id="new_enterprise_form" role="form">
		<div class="row">Intervalo horario:</div>
		<div class="row">
			<div class="col-md-5"><label style="color: #555; margin-top: 7px; font-weight: 500;">Hora de inicio: </label><input id="horaini" type="time" name="horaini"></div>
		  	<div class="col-md-5"><label style="color: #555; margin-top: 7px; font-weight: 500;">Hora de fin: </label><input id="horafin" type="time" name="horafin"></div>
		</div><br>
		<div class="row">
			<div class="col-md-8"><input type="text" class="form-control" id="new_tarifa_observations" placeholder="Observaciones"></div>
			<div class="col-md-2"><input type="text" class="form-control" id="new_tarifa_credit_wod" placeholder="Créditos WOD"></div>
			<div class="col-md-2"><input type="text" class="form-control" id="new_tarifa_credit_box" placeholder="Créditos BOX"></div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-2">
				<button id="botonadd" type="submit" class="btn btn-default">Enviar</button>
		  	</div>
		</div><br>
		
		<br>
		
		
		
	</form>
</div>
<div id="submain">
	<input class="superinput" type="text" placeholder="Ej. Nombre, observaciones..." id="enterprises_search">
	<div class="panel-group animated fadeInDown" id="enterprises_accordion">
		<div class="waiting"><i class="fa fa-cog fa-spin"></i></div>


		<div class="table-responsive" style="margin-top: 35px;">
			<table id="tablewey" class="table table-condensed tablesorter">
				<!--<thead><tr><th>Fecha</th><th>Dirección</th><th>Taxista</th><th>Precio</th><th>Distancia</th><th>Duración</th></tr></thead>
				<tbody>
					<tr class="canceled" data-id="13554">
						<td>2014-04-29 17:17:28</td>
						<td>Calle Horno, 11500 El Puerto de Santa María, Cádiz, España</td>
						<td>--</td>
						<td>EUR 0</td>
						<td></td><td></td></tr><tr class="canceled" data-id="13549"><td>2014-04-29 16:47:00</td><td>Calle Horno, 11500 El Puerto de Santa María, Cádiz, España</td><td>José Antonio Alcalá Carrera</td><td>EUR 0</td><td></td><td></td></tr>
				</tbody>-->
			</table>
		</div>



	</div>
</div>