<div class="buttons_tools pull-right">
	<div class="item" onclick="show_new();"><!-- Nueva --> 
		<span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-plus fa-stack-1x fa-inverse"></i>
		</span>
	</div>
</div>

<h1 class="page-header">Clientes <a href="#" style="display: block; float: right; color: rgb(187, 187, 187); font-size: 30px; margin-top: 4px; margin-right: 13px;" onClick ="$('#tablewey2').tableExport({type:'excel',escape:'false'});"><i class="fa fa-file-excel-o"></i></a></h1>

<div id="new_customer_wrapper" style="display:none;">
	<h3 class="sub-header">Nuevo cliente</h3>
	<form id="new_customer_form" class="superformsuper" role="form">
		<div class="row">
			<div class="col-md-4"><input type="text" class="form-control" id="new_customer_name" placeholder="Nombre"></div>
		  	<div class="col-md-4"><input type="text" class="form-control" id="new_customer_surname" placeholder="Apellidos"></div>
			<div class="col-md-2"><input type="text" class="form-control" id="new_customer_email" placeholder="Email"></div>
			<div class="col-md-2"><input type="text" class="form-control" id="new_customer_nif" placeholder="NIF"></div>
		</div><br>
		<div class="row">
			<div class="form-group col-md-6">
				<select class="form-control" id="customer_rate">
					<option value="-1">Seleccionar tarifa</option>
				</select>
			</div>
			<div class="col-md-2"><input type="password" class="form-control" id="new_customer_password" placeholder="Contraseña"></div>
			<div class="col-md-2"><input type="password" class="form-control" id="new_customer_passwordrepeat" placeholder="Repetir contraseña"></div>
			<div class="col-md-2"><input type="text" class="form-control" id="new_customer_phone" placeholder="Teléfono"></div>
		</div>
		<div class="row">
			<div class="col-md-4"><input type="date" class="form-control" id="new_customer_birthdate" placeholder="Fecha de nacimiento"></div>
			<div class="col-md-1">
				<div class="checkbox">
					<label><input type="checkbox" id="new_customer_validated"> Validado</label>
				</div>
		  	</div>
		  	<div class="col-md-1">
				<div class="checkbox">
					<label><input type="checkbox" id="new_customer_paid"> Pagado</label>
				</div>
		  	</div>
		  	<div class="col-md-1">
				<div class="checkbox">
					<label><input type="checkbox" id="new_customer_vip"> VIP</label>
				</div>
		  	</div>
		  	<div class="col-md-1">
				<div class="checkbox">
					<label><input type="checkbox" id="new_customer_prueba"> Prueba</label>
				</div>
		  	</div>
		</div><br>
		<div class="row">
			<div class="col-md-2">
				<button id="botonenviar" type="submit" class="btn btn-default">Enviar</button>
		  	</div>
		</div><br>
		<br>
		
		
		
	</form>
</div>

<div id="submain" class="animated fadeInDown">

</div>