

<h1 class="page-header">Configuración</h1>

<div id="new_customer_wrapper">
	<h3 class="sub-header">Reservas</h3>
	<form id="new_config_form" role="form">
		<div class="row">
			<div class="form-group col-md-12">
				<label style="font-weight: 200; float: left; padding-top: 6px;">Días de antelación con los que se puede reservar (Días)</label>
				<input style="float: left; margin-left: 17px; width: 95px;" type="text" class="form-control" id="dias_reserva" placeholder="Días">
			</div>
		</div><br>
		<div class="row">
			<div class="form-group col-md-12">
				<label style="font-weight: 200; float: left; padding-top: 6px;">Número de días para los que se muestran las actividades en el panel de Admin (Días desde hoy)</label>
				<input style="float: left; margin-left: 17px; width: 95px;" type="text" class="form-control" id="dias_a_mostrar" placeholder="Días">
			</div>

		</div><br>
		<div class="row">
			<div class="form-group col-md-12">
				<label style="font-weight: 200; float: left; padding-top: 6px;">Días de plazo para pagar (Días desde el 1 de cada mes)</label>
				<input style="float: left; margin-left: 17px; width: 95px;" type="text" class="form-control" id="dias_pago" placeholder="Días">
			</div>
		</div><br>
		<div class="row">
			<div class="col-md-2">
				<button id="botonenviar" type="submit" class="btn btn-default">Guardar</button>
		  	</div>
		</div>
		</form>
		<br>
		<br>

  		<h3 class="sub-header">Notificaciones</h3>
			<form id="new_configemail_form" role="form">
				<div class="row">
					<div class="form-group col-md-12">
						<label style="font-weight: 200; float: left; padding-top: 6px;">Dirección de e-mail para recibir notificaciones</label>
						<input style="float: left; margin-left: 17px; width: 195px;" type="text" class="form-control" id="email_coach" placeholder="Email">
					</div>
      			</div>
      			<div class="row">
					<div class="form-group col-md-12">
						<label style="font-weight: 200; float: left; padding-top: 6px;">Teléfono para recibir notificaciones</label>
						<input style="float: left; margin-left: 17px; width: 195px;" type="text" class="form-control" id="telefono_coach" placeholder="Teléfono">
					</div>
      			</div>
      			<div class="row">
					<div class="col-md-2">
						<button id="botonenviaremail" type="submit" class="btn btn-default">Guardar</button>
		  			</div>
				</div>
      		</form>
  			<br>
  			<br>
		<h3 class="sub-header">Días Festivos</h3>
		<form id="new_fiesta_form" role="form">
		<div class="row">
			<div class="col-md-4"><input type="date" class="form-control" id="dia_festivo" placeholder="Fecha"></div>
			<div class="col-md-6"><input type="text" class="form-control" id="nombre_festivo" placeholder="Fiesta"></div>
			<div class="col-md-2"><button id="botonenviarfecha" type="submit" class="btn btn-default">Añadir</button></div>
		</div><br>
		</form>
		<div id="submain"></div>	
		<br>
		<br>
		<h3 class="sub-header">DNIs Prevalidados</h3>
		<form id="new_dnipre_form" role="form">
		<div class="row">
			<div class="col-md-6"><input type="text" class="form-control" id="dnipre" placeholder="DNI"></div>
			<div class="col-md-2"><button id="botonenviardnipre" type="submit" class="btn btn-default">Añadir</button></div>
		</div><br>
		</form>
		<div id="submaindos"></div>
</div>
