<h1 class="page-header">Buscador global <i class="fa fa-cog fa-spin" style="display:none;"></i></h1>
<div class="animated fadeInDown" id="global_search_wrapper">
	<input class="superinput" type="text" placeholder="Ej. Dirección, nombre, email, etc." id="global_search">
	<div id="submain" style="margin-top:30px;">
		
		<div id="result_taxistas" class="categories" style="display:none;">
			<h3 class="sub-header">Taxistas</h3>
			<div class="row results sublista"></div>
		</div>
		<div id="result_radios" class="categories" style="display:none;">
			<h3 class="sub-header">Radios</h3>
			<div class="row results sublista">
				<div class="waiting"><i class="fa fa-cog fa-spin"></i></div>
			</div>
		</div>
		<div id="result_enterprises" class="categories" style="display:none;">
			<h3 class="sub-header">Empresas</h3>
			<div class="row results sublista">
				<div class="waiting"><i class="fa fa-cog fa-spin"></i></div>
			</div>
		</div>
		<div id="result_pasajeros" class="categories" style="display:none;">
			<h3 class="sub-header">Pasajeros</h3>
			<div class="row results sublista">
				<div class="waiting"><i class="fa fa-cog fa-spin"></i></div>
			</div>
		</div>
		<div id="result_journeys" class="categories" style="display:none;">
			<h3 class="sub-header">Carreras</h3>
			<div class="results">
				<div class="waiting"><i class="fa fa-cog fa-spin"></i></div>
			</div>
		</div>
	</div>
	<div id="flag"></div>
</div>