<div class="animated fadeInDown" id="radio_viewer_wrapper">
	
	<div id="viewer_submenu" class="row buttonset">
		<div class="col-sm-4">
			<div class="button pending" onclick="subselect('pending');">PENDIENTES &nbsp;&nbsp;<span id="badge_viewer_pending" class="badge"></span></div>
		</div>
		<div class="col-sm-4">
			<div class="button reservations" onclick="subselect('reservations');">RESERVAS &nbsp;&nbsp;<span id="badge_viewer_reservations" class="badge"></span></div>
		</div>
		<div class="col-sm-4">
			<div class="button historical" onclick="subselect('historical');">HISTÓRICO</div>
		</div>
	</div>
	
	<div id="submain">
		<div class="waiting"><i class="fa fa-cog fa-spin"></i></div>
	</div>
	
</div>