<div class="buttons_tools pull-right">
	<div class="item" id="radio_map" style="display:none;"  data-toggle="tooltip" title="Taxistas en Mapa" data-placement="bottom" onclick="show_radio_map();"><!-- Nueva --> 
		<span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i id="radio_map_i" class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
		</span>
	</div>
</div>
<h1 class="page-header" id="radio_title"><i class="fa fa-cog fa-spin"></i> <span id="radio_status">CONECTADO</span></h1>
<div class="animated fadeInDown" id="radio_super_wrapper">
	
	<div id="submain">
		<div class="waiting"><i class="fa fa-cog fa-spin"></i></div>
	</div>
	
</div>