<div class="buttons_tools pull-right">
	<div class="item" onclick="goto(base_url+'/delegations');"><!-- Nueva --> 
		<span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-arrow-left fa-stack-1x fa-inverse"></i>
		</span>
	</div>
</div>

<h1 class="page-header" id="delegation_title"><i class="fa fa-cog fa-spin"></i></h1>

<div class="animated fadeInDown" id="radio_super_wrapper">
	
	<div id="delegation_submenu" class="row buttonset">
		<div class="col-sm-3">
			<div class="button stats" onclick="subselect('stats');">ESTADÍSTICAS</div>
		</div>
		<div class="col-sm-3">
			<div class="button profile" onclick="subselect('profile');">PREFERENCIAS</div>
		</div>
		<div class="col-sm-3">
			<div class="button features" onclick="subselect('features');">CARACTERÍSTICAS</div>
		</div>
		<div class="col-sm-3">
			<div class="button locations" onclick="subselect('mailchimp');">MAILCHIMP</div>
		</div>
		
	</div>
	
	<div id="submain">
		<div class="waiting"><i class="fa fa-cog fa-spin"></i></div>
	</div>
	
</div>