<div class="buttons_tools pull-right">
	<div class="item" onclick="show_new();"><!-- Nueva --> 
		<span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-plus fa-stack-1x fa-inverse"></i>
		</span>
	</div>
</div>

<h1 class="page-header">Operadoras digitales</h1>

<div id="new_radio_wrapper">
	<form id="new_radio_form" role="form">
		<div class="row">
			<div class="col-md-3"><input type="text" class="form-control" id="new_operator_name" placeholder="Nombre"></div>
			<div class="col-md-3"><input type="email" class="form-control" id="new_operator_email" placeholder="Email"></div>
			<div class="col-md-3"><input type="password" class="form-control" id="new_operator_password" placeholder="Contraseña"></div>
			<div class="col-md-3">
			  	<select class="form-control" id="new_operator_radio"></select>
			</div>
			
		</div><br>
		<button type="submit" class="btn btn-default">Enviar</button>
	</form>
</div>
<div id="submain">
	
	<div id="result_radios" class="row sublista" style="margin-top:30px;"></div>
	<div class="panel-group animated fadeInDown" id="radios_accordion"></div>
</div>