{% load i18n %}
<div class="download_content">
    <div class="linea"></div>
    <h1>{% trans "ELIGE TU SISTEMA OPERATIVO" %}</h1>
    <div class="botonera">
        <a href="https://itunes.apple.com/es/app/taxible/id602835004?mt=8">
            <div class="download spritehome sphome_app_store"></div>
        </a>
        <a href="https://play.google.com/store/apps/details?id=com.idearioventures.taxible&hl=es">
           <div class="download spritehome sphome_google_play"></div>
        </a>
    </div>
</div>
