<h1 class="page-header">Taxistas <i class="fa fa-cog fa-spin" style="display:none;"></i></h1>
<div id="drivers_submenu" class="row buttonset">
    <div class="col-sm-3">
        <div class="button pending" onclick="subselect('pending');">PENDIENTES</div>
    </div>
    <div class="col-sm-3">
        <div class="button validated" onclick="subselect('validated');">VALIDADOS</div>
    </div>
    <div class="col-sm-3">
        <div class="button new_radio" onclick="subselect('new_radio');">NUEVA CIUDAD</div>
    </div>
    <div class="col-sm-3">
        <div class="button search" onclick="subselect('search');">BUSCADOR</div>
    </div>
</div>

<div id="submain">
    <div class="waiting"><i class="fa fa-cog fa-spin"></i></div>
</div>