
<h1 class="page-header">Historial de reservas</h1>

<div id="new_customer_wrapper">
	<h3 style="margin-top: 25px;">Reservas realizadas por el cliente</h3>
	<div class="table-responsive" style="margin-top: 15px; display: block;">
		<table id="tableweyreservas" class="table table-condensed tablesorter">
			<thead>
				<tr>
					<th class="header">Actividad</th>
					<th class="header">Fecha</th>
					<th class="header">Hora inicio</th>
					<th class="header">Hora fin</th>
				</tr>
			</thead>
			<tbody id="tableweybodyreservas">
			</tbody>
		</table>
		<i id="cargando" class="fa fa-cog fa-spin"></i>
	</div>		
</div>