
<div id="level1">
	<img id="logo" src="{{ media }}img/inversores/level01_logo.png">
	<h1>TAXIBLE</h1>
	<h3>¡Queremos llevarte a muchos sitios!</h3>
	<img class="img1 lazy" src="{{ media }}img/inversores/level01_arbol.png">
</div>

<div id="level2" class="dark">
    <div class="insignia"></div><div class="titulo">NUESTRA VISIÓN</div>
    <div class="texto">Crear la Mayor Red de<br>Movilidad en Taxi</div>
</div>
                 
    
<div id="level3">
    <div class="insignia"></div><div class="titulo">EL EQUIPO</div><div class="subtitulo">TAXIBLE TEAM</div>
    <img class="img1 lazy" data-original="{{ media }}img/inversores/level03_equipo.png">
    <div class="texto texto1">A día de hoy invierten y asesoran...</div>
    <img class="img2 lazy" data-original="{{ media }}img/inversores/level03_invierten.png">
    <div class="texto texto1">Próximamente...</div>
    <img class="img3 lazy" data-original="{{ media }}img/inversores/level03_smile.png">
</div>
                 
    
<div id="level4" class="dark">
    <div class="insignia"></div><div class="titulo">LA OPORTUNIDAD</div>
    <div class="texto">Los cambios de hábito en movilidad junto con la desactualización tecnológica del sector y la enorme crisis, han propiciado las condiciones para el desarrollo de nuevas herramientas para adecuar a los taxistas a este nuevo escenario.</div>
</div>
                 
    
<div id="level5">
    <div class="insignia"></div><div class="titulo">EL PROBLEMA</div>
    <div class="texto">Los proveedores tradicionales del sector carecen de soluciones que se adapten a este cambio de hábito y nuevos usos en movilidad.</div>
    <img class="img1 lazy" src="{{ media }}img/inversores/level05_diagrama.png">
</div>
                 
    
<div id="level6" class="dark">
    <div class="insignia"></div><div class="titulo">LA SOLUCIÓN</div>
    <div class="texto">Proporcionamos a usuarios una App gratuita para solicitar taxi, y a los taxistas las herramientas necesarias para adaptarse a estos nuevos hábitos pagando solo por carreras recibidas.</div>
    <img class="img1 lazy" data-original="{{ media }}img/inversores/level06_diagrama.png">
</div>
                 
    
<div id="level7">
    <img class="img1 lazy" data-original="{{ media }}img/inversores/level07_inicio.png">
    <div class="insignia"></div><div class="titulo">EL PRODUCTO</div>
    <img class="img2 lazy" data-original="{{ media }}img/inversores/level07_diagrama.png">
</div>
                 
    
<div id="level8">
    <img class="img1 lazy" data-original="{{ media }}img/inversores/level08_diagrama.png">
</div>
                 
    
<div id="level9">
    <img class="img1 lazy" data-original="{{ media }}img/inversores/level09_colores.png">
</div>


<div id="level10">
   <img class="img1 lazy" data-original="{{ media }}img/inversores/level10_diagrama.png">
</div>
                  
    
<div id="level11">
    <img class="img1 lazy" data-original="{{ media }}img/inversores/level11_diagrama.png">
</div>
                  
    
<div id="level12">
    <img class="img1 lazy" data-original="{{ media }}img/inversores/level12_diagrama.png">
</div>
                  
    
<div id="level13">
    <div class="insignia"></div><div class="titulo">TAMAÑO DEL MERCADO</div>
    <img class="img1 lazy" data-original="{{ media }}img/inversores/level13_letras.png">
</div>
                  
    
<div id="level14">
    <div class="insignia"></div><div class="titulo">FUENTES DE INGRESO</div>
    <img class="img1 lazy" data-original="{{ media }}img/inversores/level14_letras.png">
</div>
                  
    
<div id="level15">
    <div class="insignia"></div><div class="titulo">ROADMAP</div>
    <img class="img1 lazy" data-original="{{ media }}img/inversores/level15_timeline.png">
</div>
                  
    
<div id="level16">
    <div class="insignia"></div><div class="titulo">DOCUMENTACIÓN INVERSORES</div>
	<div id="calltoaction"  class="row">
		<div class="item col-sm-2 col-sm-offset-3"><a href="{{ media }}docs/OnePagerTaxible_2014.pdf" target="_blank" download>Taxible OnePager</a></div>
		<div class="item col-sm-2"><a href="{{ media }}docs/Executive_Summary_Espanol_2014.pdf" target="_blank" download>Executive Summary</a></div>
		<div class="item col-sm-2"><a href="{{ media }}docs/Oportunidad_de_Inversion.pdf" target="_blank" download>Oportunidad de Inversión</a></div>
	</div>
	
   
    <div class="texto">Para más información a inversores contactar directamente con</div>
    <div id="directamente" class="clearfix">
        <div class="aramirez pull-left">
            Antonio Ramírez<br>
            <a href="mailto:aramirez@taxible.com" title="Antonio Ramírez"><img class=" lazy" data-original="{{ media }}img/inversores/level16_mail.png"></a>
        </div>
        <div class="jiglesias pull-right">
            Javier Iglesias<br>
            <a href="mailto:jiglesias@taxible.com" title="Javier Iglesias"><img class=" lazy" data-original="{{ media }}img/inversores/level16_mail.png"></a>
        </div>
    </div>
    <!--
    <div id="social" class="clearfix">
        <a href="#"><img class="lazy" data-original="{{ media }}img/inversores/level16_facebook.png"></a>
        <a href="#"><img class="lazy" data-original="{{ media }}img/inversores/level16_facebook.png"></a>
        <a href="#"><img class="lazy" data-original="{{ media }}img/inversores/level16_facebook.png"></a>
    </div>
-->
</div>








