<h1 class="page-header">Facturación</h1>
<div class="panel-group animated fadeInDown" id="invoicing_delegation_accordion_years">
	<div class="panel-heading panel-heading-invoice-delegation minus-padding col-md-1 responsive-prev">
		<button id="prev_year" type="button" class="btn btn-default btn-invoice-delegation"><</button>
	</div>
	<div class="panel-heading panel-heading-invoice-delegation minus-padding col-md-10 responsive-year" >
		<span id="current_year" style="background-color: #ebebeb" class="btn btn-default btn-invoice-delegation"></span>
	</div>
	<div class="panel-heading panel-heading-invoice-delegation minus-padding col-md-1 responsive-next">
		<button id="next_year" type="button" class="btn btn-default btn-invoice-delegation">></button>
	</div>
</div>
<div class="panel-group animated fadeInDown" id="invoicing_delegation_accordion_months">
	<div class="responsive-month panel-heading panel-heading-invoice-delegation col-md-1 minus-padding">
		<button id="jan" type="button" class="btn btn-default btn-invoice-delegation" onclick="selectMonth(0);">Ene</button>
	</div>
	<div class="responsive-month panel-heading panel-heading-invoice-delegation col-md-1 minus-padding">
		<button id="feb" type="button" class="btn btn-default btn-invoice-delegation" onclick="selectMonth(1);">Feb</button>
	</div>
	<div class="responsive-month panel-heading panel-heading-invoice-delegation col-md-1 minus-padding">
		<button id="mar" type="button" class="btn btn-default btn-invoice-delegation" onclick="selectMonth(2);">Mar</button>
	</div>
	<div class="responsive-month panel-heading panel-heading-invoice-delegation col-md-1 minus-padding">
		<button id="apr" type="button" class="btn btn-default btn-invoice-delegation" onclick="selectMonth(3);">Abr</button>
	</div>
	<div class="responsive-month panel-heading panel-heading-invoice-delegation col-md-1 minus-padding">
		<button id="may" type="button" class="btn btn-default btn-invoice-delegation" onclick="selectMonth(4);">May</button>
	</div>
	<div class="responsive-month panel-heading panel-heading-invoice-delegation col-md-1 minus-padding">
		<button id="jun" type="button" class="btn btn-default btn-invoice-delegation" onclick="selectMonth(5);">Jun</button>
	</div>
	<div class="responsive-month panel-heading panel-heading-invoice-delegation col-md-1 minus-padding">
		<button id="jul" type="button" class="btn btn-default btn-invoice-delegation" onclick="selectMonth(6);">Jul</button>
	</div>
	<div class="responsive-month panel-heading panel-heading-invoice-delegation col-md-1 minus-padding">
		<button id="aug" type="button" class="btn btn-default btn-invoice-delegation" onclick="selectMonth(7);">Ago</button>
	</div>
	<div class="responsive-month panel-heading panel-heading-invoice-delegation col-md-1 minus-padding">
		<button id="sep" type="button" class="btn btn-default btn-invoice-delegation" onclick="selectMonth(8);">Sep</button>
	</div>
	<div class="responsive-month panel-heading panel-heading-invoice-delegation col-md-1 minus-padding">
		<button id="oct" type="button" class="btn btn-default btn-invoice-delegation" onclick="selectMonth(9);">Oct</button>
	</div>
	<div class="responsive-month panel-heading panel-heading-invoice-delegation col-md-1 minus-padding">
		<button id="nov" type="button" class="btn btn-default btn-invoice-delegation" onclick="selectMonth(10);">Nov</button>
	</div>
	<div class="responsive-month panel-heading panel-heading-invoice-delegation col-md-1 minus-padding">
		<button id="dec" type="button" class="btn btn-default btn-invoice-delegation" onclick="selectMonth(11);">Dic</button>
	</div>
</div>
<br>
<div class="panel-group" id="accordion_wait"></div>
<div class="panel-group" id="accordion"></div>

<script src="{{ MEDIA }}js/invoicing/delegation.js"></script>
