<div class="animated fadeInDown" id="journeys_super_wrapper">
	
	<div id="journeys_submenu" class="row buttonset">
		<div class="col-sm-4">
			<div class="button pending" onclick="subselect('pending');">EN CURSO</div>
		</div>
		<div class="col-sm-4">
			<div class="button historical" onclick="subselect('historical');">HISTÓRICO</div>
		</div>
		<div class="col-sm-4">
			<div class="button reserves" onclick="subselect('reserves');">RESERVAS</div>
		</div>
		<!--<div class="col-sm-3">
			<div class="button search" onclick="subselect('search');">BUSCADOR</div>
		</div>-->
	</div>
	
	<div id="submain">
		<div class="waiting"><i class="fa fa-cog fa-spin"></i></div>
	</div>
	
</div>