<div id="driver_profile">
	<form role="form">
		<div class="row">
			<div class="col-md-12">
				<h3>Datos de Touroperador  <span class="linkable edit_touroperator_button" onclick="edit_touroperator();"><i class="fa fa-floppy-o"></i></span></h3>
				<div class="row">
					<div class="form-group col-md-2">
				    	<input type="hidden" class="form-control input-sm" id="touroperator_auth_id">
				    	<input type="hidden" class="form-control input-sm" id="touroperator_prefix">
				    	<input type="hidden" class="form-control input-sm" id="touroperator_id">
                        <input type="hidden" class="form-control input-sm" id="touroperator_token">
				    	<input type="text" class="form-control input-sm" id="touroperator_name" placeholder="Nombre">
				  	</div>
				  	<div class="form-group col-md-3">
				    	<input type="email" class="form-control input-sm" id="touroperator_email" placeholder="Email">
				  	</div>
				  	<div class="form-group col-md-2">
				    	<input type="password" class="form-control input-sm" id="touroperator_password" value="" placeholder="Contraseña">
				  	</div>
				  	<div class="form-group col-md-2">
				    	<input type="text" class="form-control input-sm" id="touroperator_phone" placeholder="Teléfono">
				  	</div>
				  	<div class="form-group col-md-3">
				    	<input type="text" class="form-control input-sm" id="touroperator_cif" placeholder="CIF">
				  	</div>
				</div><br>
				<div class="row">
					<div class="form-group col-md-3">
				    	<input type="text" class="form-control input-sm" id="touroperator_address" placeholder="Dirección">
				  	</div>
				  	<div class="form-group col-md-2">
				    	<input type="text" class="form-control input-sm" id="touroperator_province" placeholder="Provincia">
				  	</div>
				  	<div class="form-group col-md-2">
				    	<input type="text" class="form-control input-sm" id="touroperator_locality" placeholder="Localidad">
				  	</div>
				  	<div class="form-group col-md-2">
				    	<input type="text" class="form-control input-sm" id="touroperator_cp" value="" placeholder="Código postal">
				  	</div>
				  	<div class="form-group col-md-3">
				    	<input type="text" class="form-control input-sm" id="touroperator_web" placeholder="Web">
				  	</div>
				</div>
			</div>
		</div>
	</form><br>
</div>
