<h2>Condiciones adicionales específicas de cada país relativas a las Condiciones Generales de Contratación de Taxible - España -</h2>

<h2>Taxible App S.L., CIF: B11908951 (en adelante "Taxible")</h2>

<p>El consentimiento prestado para la utilización de los datos personales podrá ser revocado en cualquier momento y con efectos futuros (véase punto IV.)</p>
<p>Adicionalmente a las Condiciones Generales de Contratación de Taxible regirán para los empresarios de taxis/taxistas (en adelante “los taxistas”) quienes tengan su domicilio o sede social o, en su caso, su lugar habitual de residencia en la España, las siguientes condiciones y consentimientos adicionales:</p>

<h3>I. Responsabilidad</h3>

<p>(1) Taxible no responderá de que los datos transmitidos sean correctos e íntegros y alcancen a tiempo al taxista o pasajero. Taxible no responderá de la pérdida de datos del taxista, dado que le incumbe a éste velar por la seguridad de los datos.</p>
<p>(2) En lo demás, Taxible responderá ilimitadamente</p>
<p>- en caso de dolo y cuando se acredite el daño</p>
<p>- de los menoscabos a la vida, al cuerpo o la salud</p>
<p>- con el alcance de una garantía asumida por Taxible.</p>
<p>(3) En el caso de un incumplimiento, por negligencia leve, de una obligación que fuese esencial para cumplir la finalidad del contrato (obligación central), la responsabilidad de Taxible se limitará cuantitativamente al daño que de acuerdo con el tipo de negocio fuese previsible y típico.</p>
<p>(4) No existe una responsabilidad más amplia por parte de Taxible.</p>
<p>(5) La anterior limitación de la responsabilidad regirá también para la responsabilidad personal de los empleados, representantes y órganos de Taxible.</p>

<h3>II. Fuero</h3>

<p>(1) Son competentes, con carácter exclusivo, los juzgados y tribunales de Madrid, en tanto que cada parte sea comerciante o persona jurídica.</p>
<p>(2) A la relación contractual entre Taxible y el taxista es aplicable el Derecho español de conformidad con la Ley 34/2002 de servicios de sociedad de la información.</p>

<h3>III. Otros</h3>

<p>(1) La nulidad de cualquiera de estas condiciones generales de contratación no afecta a la validez de las demás. Las partes velarán para encontrar en lugar de la cláusula nula,  una disposición que  se adecuará en lo posible a los objetivos jurídicos y económicos de las presentes Condiciones Generales de Contratación.</p>

<h3>IV. Protección de datos / conformidad / posibilidades de oposición</h3>

<p>(1) Todos los datos personales transmitidos por el taxista (tratamiento, nombre, dirección, dirección de correo electrónico, número de teléfono, número de fax, datos bancarios, lugar en los que se encuentra) se tratarán únicamente de acuerdo con las normas sobre protección de datos del Derecho español (Leyes sobre Medios telemáticos y Ley Orgánica de Protección de Datos).</p>
<p>(2) Dichos datos personales serán utilizados exclusivamente para la realización de los contratos firmados, en tanto en cuanto fuesen necesarios para la motivación, la elaboración del contenido o la modificación de la relación contractual.</p>
<p>(3) El taxista está conforme con que se indique su paradero tras la localización (datos GPS) y se transmitan sus datos, tras una solicitud, para su identificación a los pasajeros potenciales. Se le transmitirán al pasajero el nombre de taxista, nombre, apellidos, número de teléfono, fotografía, matrícula, una evaluación y su User-ID. El nombre y los apellidos, el perfil y el número de teléfono del taxista podrá ser utilizado por el pasajero una vez finalizado el servicio, en caso de haber sufrido la pérdida de algún objeto, pueda contactar con el taxista.</p>
<p>(4) Un uso más amplio de los datos personales que fuese necesario para la motivación del diseño del contenido o de la modificación de la relación contractual para fines publicitarios, el estudio del mercado o la elaboración de ofertas conforme a las necesidades, requerirá consentimiento expreso. El taxista tendrá la posibilidad de prestar dicho consentimiento antes de su registro. Dicha declaración de conformidad se realizará voluntariamente y podrá ser revocada por escrito en cualquier momento.</p>
<p>(5) Los datos personales necesarios para permitir y liquidar la utilización de prestaciones (datos de explotación) serán, en un primer momento, igualmente utilizados solo para la realización de los contratos firmados. Dichos datos de explotación constituyen, en particular, las características para la identificación como taxista, los datos sobre el comienzo y el final así como el volumen de cada utilización y datos sobre los medios telemáticos empleados por el taxistas.</p>
<p>(6) El taxista está conforme con que, además, los datos de explotación puedan ser utilizados por Taxible para fines publicitarios, estudios del mercado o la configuración de los medios telemáticos conforme a las necesidades para elaborar perfiles de taxistas, utilizando seudónimos. En cualquier momento existe la posibilidad de oponerse a la utilización de los datos de explotación. Bajo ningún concepto se relacionarán los perfiles de taxistas con los datos correspondientes.</p>
<p>(7) El taxista está de acuerdo con que sus datos de identificación y los datos GPS de su paradero sean transmitidos a los pasajeros potenciales participantes, mientras tenga activada la aplicación. El taxista estará de acuerdo con la entrega de sus datos a su respectiva parte contractual con la finalidad de cumplir el contrato o, en su caso, para perseguir posibles derechos.</p>
<p>(8) En el caso de que deseara más información o tenga la intención de retirar o revocar el consentimiento prestado para la utilización de los datos de cartera o, en su caso,  presentar oposición a la utilización de los datos de explotación, se ruega que se ponga en contacto con nosotros a través de la página web www.Taxible.com.</p>

<p>Declaración de conformidad del derecho sobre protección de datos del empleador:</p>

<p>Consiento que mis datos personales mencionados en el punto IV. de las presentes condiciones sean tratados y transferidos a los clientes de taxis con motivo del cumplimiento del objetivo contractual señalado de acuerdo con las cláusulas de las presentes condiciones. Al apretar la tecla “ACEPTAR” de mi aplicación de Taxible, prestaré en cada caso particular mi consentimiento a la transmisión de mis datos personales al cliente del taxi. Podré revocar en cualquier momento y con efecto futuro la presente declaración de conformidad.</p>
