<form role="form" id="new_radiotariff">
	<div class="form-group col-md-10">
		<label id="label-radio" for="radios">Selecciona la radio para la que quieres añadir el tarifario</label>
		<select class="form-control" id="radios_without_tariff">
		  <!-- <option value="1">1</option> -->
		</select>
	</div>
	<div id="alert_add_journey" style="margin-bottom:14px; color:#98000A; display:none"></div>
	<div id="save-new-radiotariff-modal" class="btn btn-default col-md-2" onclick="save_new_radiotariff();">Añadir</div>
</form>