<form role="form" id="new_district">
	<div class="form-group col-md-12">
		<label id="label-district">Introduce el distrito y la zona a añadir en la radio:</label>
		<div class="col-md-5">
			<input type="text" class="form-control input-sm" id="district" placeholder="Distrito">
		</div>
		<div class="col-md-5">
			<input type="text" class="form-control input-sm" id="zone" placeholder="Zona">
		</div>
		<div id="div-save-district-btn" class="col-md-1">
			<span id="save_district_btn" class="linkable"><i class="fa fa-plus-circle fa-lg"></i></span>
		</div>
	</div>
	<br>
	<div id="district-exist-container" class="form-group col-md-12">
		<label id="label-district-exist">Distritos y Zonas existentes:</label>
		<div id="district-exist" class="form-group col-md-12">
		</div>
	</div>
</form>