<div id="journey_detail_status" class="status"></div>
<div id="journey_detail_date_time" class="journey_detail_date_time">
	<span id="journey_detail_date" class="date"></span>&nbsp;|&nbsp;
	<span id="journey_detail_time" class="time"></span>
</div>
<div id="journey_detail_address" class="address"></div>
<div id="minimap"></div>
<div id="journey_detail_origin" class="origin"></div>
<div class="agents row">
	<div id="journey_detail_user" class="col-sm-4"></div>
	<div id="journey_detail_radio" class="col-sm-4"></div>
	<div id="journey_detail_driver" class="col-sm-4 driver"></div>
</div>
<div id="journey_detail_indications" class="indications"></div>
<div id="journey_detail_details" class="details"></div>
<div class="tracing row">
	<div id="journey_detail_tracing" class="col-sm-12"></div>
	<!-- <div id="journey_detail_driver" class="col-sm-6 driver"></div> -->
</div>
