<div id="passenger_profile">
	<h3 style="font-weight:700;">Actividad:  <span style="margin-right: 6px;" id="nameactivity"></span><input type="text" class="form-control" style="display:none; margin-right:8px; width:200px;" id="nameactivityinput"><i id="lapiz" style="cursor:pointer;" onclick="activateEditNameActivity();" class="fa fa-pencil"></i><i id="disquete" style="cursor:pointer; display:none;" onclick="saveNameActivity();" class="fa fa-floppy-o"></i></h3>
	<h3>Horario:  <span id="houractivity"></span></h3>
	<input type="hidden" class="form-control" id="idactivity">
	<input type="hidden" class="form-control" id="idscheduletime">
	<input type="hidden" class="form-control" id="idschedule">
	<input type="hidden" class="form-control" id="disponibles">
	<input type="hidden" class="form-control" id="disponibles_cola">
	<input type="hidden" class="form-control" id="ocupadas">
	<input type="hidden" class="form-control" id="ocupadas_cola">
	<input type="hidden" class="form-control" id="aforo">
	<input type="hidden" class="form-control" id="aforo_cola">
	<br>
	<div class="row">
		<h3 id="tituloreservas">Reservas:</h3>
		<div class="form-group col-md-12">
		    	<div class="table-responsive" style="margin-top: 35px;">
					<table id="tableweyclientes" class="table table-condensed tablesorter">
					</table>
				</div>
		</div>
	</div>	 

</div>