<div id="passenger_profile">
	<h3>Tarifa  <span class="linkable edit_tarifa_button" onclick="edit_tarifa();"><i class="fa fa-floppy-o"></i></span></h3>
	<br>
	<form role="form">
		<div class="row">
			<div class="form-group col-md-10">
		    	<input type="hidden" class="form-control" id="tarifa_id">
		    	<input type="text" class="form-control" id="tarifa_name" placeholder="Nombre">
		  	</div>
		  	<div class="form-group col-md-2">
		    	<input type="text" class="form-control" id="tarifa_price" placeholder="Precio">
		  	</div>
		</div>
		<div class="row">
			<div class="form-group col-md-2">
		  		<label style="color: #555; margin-top: 7px; font-weight: 500;">Crédito WOD: </label><input class="form-control" type="text" id="tarifa_credit_wod" style="float: right; width: 42px;">
		  	</div>
		  	<div class="form-group col-md-2">
		  		<label style="color: #555; margin-top: 7px; font-weight: 500;">Crédito BOX: </label><input class="form-control" type="text" id="tarifa_credit_box" style="float: right; width: 42px;">
		  	</div>
		  	<div style="padding-top: 4px;" class="form-group col-md-8">
		  		<input type="text" class="form-control" id="tarifa_observations" placeholder="Observaciones">
		  	</div>
		</div>
	</form>

</div>
