

<div id="eula">
    <h1>POLÍTICA DE COOKIES</h1>

    <p>¿Qué son las cookies? Una cookie es un fichero que se descarga en su ordenador al acceder a determinadas páginas web. Las cookies permiten a una página web, entre otras cosas, almacenar y recuperar información sobre los hábitos de navegación de un usuario o de su equipo y, dependiendo de la información que contengan y de la forma en que utilice su equipo, pueden utilizarse para reconocer al usuario.</p>

<p>El sitio web www.crossfitjerez.com. utiliza las siguientes cookies:</p>
<img style="width: 100%;" src="http://www.crossfitjerez.com/static/img/tabla.png">

<p>Las cookies de nuestro sitio web son únicamente utilizadas por el propietario de la página, CROSSFIT XEREZ BOX, S.L, con domicilio social en Parque Sandeman 7 – 11407 Jerez de la Frontera (Cádiz) y CIF B11918588. 
Puede usted permitir, bloquear o eliminar las cookies instaladas en su equipo mediante la configuración de las opciones del navegador instalado en su ordenador:</p>

<p>Chrome, desde</p> 
<p><a href="http://support.google.com/chrome/bin/answer.py?hl=es&answer=95647">http://support.google.com/chrome/bin/answer.py?hl=es&answer=95647</a> </p>

<p>Explorer, desde </p>
<p><a href="http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9">http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9</a></p>

<p>Firefox, desde </p>
<p><a href="http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we">http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we</a></p>

<p>Safari, desde</p>
<p><a href="http://support.apple.com/kb/ph5042">http://support.apple.com/kb/ph5042</a></p>

    
</div>