<div id="passenger_profile">
	<h3>Actividad:  <span id="nameactivity"></span></h3>
	<br>
	<h3>Horario:  <span id="houractivity"></span></h3>
	<input type="hidden" class="form-control" id="idactivity">
	<input type="hidden" class="form-control" id="idscheduletime">
	<input type="hidden" class="form-control" id="idschedule">
	<h3>Reservas:</h3>
	<div class="row">
		<div class="form-group col-md-12">
		    	<div class="table-responsive" style="margin-top: 35px;">
					<table id="tableweyclientes" class="table table-condensed tablesorter">
					</table>
				</div>
		</div>
	</div>	 

</div>