<div id="enterprise_profile">
	<!-- <h3>Datos de empresa  <span class="linkable"><i class="fa fa-floppy-o"></i></span></h3> -->
	<form role="form">
		<div class="row">
			<div class="col-md-12">
				<h3>FAQ  <span class="linkable" onclick="edit_faq()"><i class="fa fa-floppy-o"></i></span></h3>
				<div class="row">
					<div class="form-group col-md-6">
				    	<input type="hidden" class="form-control" id="faq_id">
				    	<textarea type="text" class="form-control input-sm" id="faq_question" placeholder="Pregunta"></textarea>
				  	</div>
				  	<div class="form-group col-md-6">
				    	<textarea type="text" class="form-control input-sm" id="faq_answer" placeholder="Respuesta"></textarea>
				  	</div>
				</div>
			</div>
		</div>
	</form>
</div>