<div id="passenger_profile">
	<h3>Datos de cliente  <span class="linkable edit_passenger_button" onclick="edit_passenger();"><i class="fa fa-floppy-o"></i></span></h3>
	<br>
	<form role="form">
		<div id="photo_viewer" style="width: 150px; height: 150px; margin-left:auto; margin-right:auto; margin-bottom: 10px;">
            
        </div>
		<div class="row">
			<div class="form-group col-md-3">
		    	<input type="hidden" class="form-control" id="passenger_auth_id">
		    	<input type="hidden" class="form-control" id="passenger_id">
		    	<input type="text" class="form-control" id="passenger_name" placeholder="Nombre">
		  	</div>
		  	<div class="form-group col-md-4">
		    	<input type="text" class="form-control" id="passenger_surname" placeholder="Apellidos">
		  	</div>
		  	<div class="form-group col-md-3">
		    	<input type="email" class="form-control" id="passenger_email" placeholder="Email">
		  	</div>
		  	<div class="form-group col-md-2">
		    	<input type="password" class="form-control" id="passenger_password" value="" placeholder="Contraseña">
		  	</div>
		</div>
		<div class="row">
			<div class="form-group col-md-2">
		    	<input type="text" class="form-control" id="passenger_nif" placeholder="DNI">
		  	</div>
		  	<div class="form-group col-md-2">
		    	<input type="text" class="form-control" id="passenger_phone" placeholder="Teléfono">
		  	</div>
			<div class="form-group col-md-4">
		    	<select class="form-control" id="passenger_rate_id">
		    	</select>
		  	</div>
		  	<div class="form-group col-md-4">
		  		<input type="date" class="form-control" id="passenger_birthdate" placeholder="Fecha de nacimiento">
		  	</div>
		</div>
		<div class="row">
			<div class="form-group col-md-2">
		  		<label style="color: #555; margin-top: 7px; font-weight: 500;">Crédito WOD: </label><input class="form-control" type="text" id="passenger_credit_wod" style="float: right; width: 42px;">
		  	</div>
		  	<div class="form-group col-md-2">
		  		<label style="color: #555; margin-top: 7px; font-weight: 500;">Crédito BOX: </label><input class="form-control" type="text" id="passenger_credit_box" style="float: right; width: 42px;">
		  	</div>
		  	<div class="form-group col-md-3">
		  		<label style="color: #555; margin-top: 7px; font-weight: 500;">Crédito BONO: </label><input class="form-control" type="text" id="passenger_credit_bono" style="float: right; width: 42px;">
		  	</div>
		  	<div style="padding-top: 4px;" class="form-group col-md-2">
		  		<label style="color: #555; font-weight:500;"><input type="checkbox" id="passenger_paid"> Pagado</label>
		  	</div>
		  	<div style="padding-top: 4px;" class="form-group col-md-2">
		  		<label style="color: #555; font-weight:500;"><input type="checkbox" id="passenger_test_user"> Prueba</label>
		  	</div>
		  	<div style="padding-top: 4px;" class="form-group col-md-1">
		  		<label style="color: #555; font-weight:500;"><input type="checkbox" id="passenger_vip"> VIP</label>
		  	</div>
		</div>
		<div class="row">
			<div class="form-group col-md-12">
		  		<label style="color: #555; margin-top: 7px; font-weight: 500;">Dirección: </label><input class="form-control" type="text" id="passenger_direccion">
		  	</div>
		</div>
		<div class="row">
			<div class="form-group col-md-6">
				<textarea class="form-control" id="passenger_nota_general" rows="4" cols="50" placeholder="Nota general"></textarea>
		  		<!--<input class="form-control" type="text" id="passenger_direccion" style="float: right; width: 42px;">-->
		  	</div>
		  	<div class="form-group col-md-6">
				<textarea class="form-control" id="passenger_nota_especial" rows="4" cols="50" placeholder="Nota especial"></textarea>
		  		<!--<input class="form-control" type="text" id="passenger_direccion" style="float: right; width: 42px;">-->
		  	</div>
		</div>
	</form>
	<h3 style="margin-top: 25px;">Reservas realizadas por el cliente</h3>
	<div class="table-responsive" style="margin-top: 15px; display: block;">
		<table id="tableweyreservas" class="table table-condensed tablesorter">
			<thead>
				<tr>
					<th class="header">Actividad</th>
					<th class="header">Fecha</th>
					<th class="header">Hora inicio</th>
					<th class="header">Hora fin</th>
				</tr>
			</thead>
			<tbody id="tableweybodyreservas">
			</tbody>
		</table>
		<i id="cargando" class="fa fa-cog fa-spin"></i>
	</div>
</div>
