<div id="passenger_profile">
	<h3>Datos de la operadora  <span class="linkable" id="edit_operator_button" onclick="save_operator();"><i class="fa fa-floppy-o"></i></span></h3>
	<form role="form" class="bateria" id="operator_form">
		<div class="row pulsador" >
			<input id="operator_id" type="hidden" >
			<div class="form-group col-md-3 col-md-offset-3"><input id="operator_extension" class="form-control input-sm extension" type="text" placeholder="Extensión"></div>
			<div class="form-group col-md-3"><input id="operator_password" class="form-control input-sm password" type="text" placeholder="Pass"></div>
		</div>
	</form>
	<br>

	<div id="operators_linked_radios">
		<div class="waiting"><i class="fa fa-cog fa-spin"></i></div>
	</div>
</div>
