<div id="passenger_profile">
	<h3>Datos de pasajero </h3>
	<form role="form">
		<div class="row">
			<div class="form-group col-md-12">
		    	<input type="hidden" class="form-control" id="passenger_auth_id">
		    	<input type="hidden" class="form-control" id="passenger_id">
		    	<span class="form-control" id="passenger_name"></span>
		  	</div>
		</div>
	</form><br>

	<h3>Histórico de Carreras para la empresa</h3>
	<div id="passenger_detail_journeys" class="journeys">
		<div class="waiting"><i class="fa fa-cog fa-spin"></i></div>
	</div>
</div>