<!-- <div class="minisub-header">NUEVA OPERADORA</div><br> -->
<div id="new_operator_wrapper">
	<form role="form" class="bateria" id="new_operator_form">
		<div class="row pulsador" >
			<div class="form-group col-md-2 col-md-offsetX-3"><input id="new_operator_extension" class="form-control input-sm extension" type="text" placeholder="Extensión"></div>
			<div class="form-group col-md-2"><input id="new_operator_pass" class="form-control input-sm password" type="text" placeholder="Pass"></div>
			<div class="form-group col-md-2"><button id="new_operator_submit" type="submit" class="btn btn-sm btn-default">Nueva operadora</button></div>
		</div>
	</form>
</div>
<br>

<div class="minisub-header">LISTA DE OPERADORAS</div><br>
<div id="operators_list" class="row sublista"></div>