
<h1 class="page-header">Perfil de usuario</h1>

<div id="new_customer_wrapper">
	<br>
	<form id="new_customer_form" role="form">
		<label style="margin-top: 0px;">Imagen de Perfil<span style="text-transform:none !important;">(150x150 px)</span>  <span class="linkable" onclick="upload_photo_enterprise()"><i class="fa fa-floppy-o"></i></span></label>
		<input type="file" class="" id="enterprise_photo" data-cloudinary-field="image_upload" style="margin-bottom: 12px;">
		<div id="photo_uploader">
        <div id="photo_viewer" style="width: 150px; height: 150px; background-color:gray; background-size: 100%;">
            
        </div>
        
    </div><br>
		<div class="row">
			<div class="col-md-2" style="padding-top: 5px;"><label>Nombre: </label></div>
			<div class="col-md-5"><input type="text" class="form-control" id="new_customer_name" placeholder="Nombre"></div>
		</div><br>
		<div class="row">
			<div class="col-md-2" style="padding-top: 5px;"><label>Apellidos: </label></div>
			<div class="col-md-7"><input type="text" class="form-control" id="new_customer_surname" placeholder="Apellidos"></div>
		</div><br>
		<div class="row">
			<div class="col-md-2" style="padding-top: 5px;"><label>Email: </label></div>
			<div class="col-md-7"><input type="text" class="form-control" id="new_customer_email" placeholder="Email"></div>
		</div><br>
		<div class="row">
			<div class="col-md-2" style="padding-top: 5px;"><label>Contraseña: </label></div>
			<div class="col-md-4"><input type="password" class="form-control" id="new_customer_password" placeholder="Contraseña"></div>
			<div class="col-md-4"><input type="password" class="form-control" id="new_customer_passwordrepeat" placeholder="Repetir contraseña"></div>
		</div><br>
		<div class="row">
			<div class="col-md-2" style="padding-top: 5px;"><label>Teléfono: </label></div>
			<div class="col-md-4"><input type="text" class="form-control" id="new_customer_phone" placeholder="Teléfono"></div>
		</div><br>
		<div class="row">
			<div class="col-md-2" style="padding-top: 5px;"><label>DNI: </label></div>
			<div class="col-md-3"><input type="text" class="form-control" id="new_customer_nif" placeholder="NIF"></div>
			<div class="col-md-2" style="padding-top: 5px;"><label>Fecha de nacimiento: </label></div>
			<div class="col-md-3"><input type="date" class="form-control" id="new_customer_birthdate" placeholder="Fecha de nacimiento"></div>
		</div><br>
		<div class="row">
			<div class="col-md-2" style="padding-top: 5px;"><label>Dirección: </label></div>
			<div class="col-md-8"><input type="text" class="form-control" id="new_customer_direccion" placeholder="Dirección"></div>
		</div><br>
		<div class="row">
			<div class="col-md-2" style="padding-top: 5px;"><label>Medio para notificaciones: </label></div>
			<div class="col-md-2"><input type="checkbox" class="" id="new_customer_telegram"> Telegram</div>
  			<div class="col-md-2"><input type="checkbox" class="" id="new_customer_emailnotif"> E-mail</div>
		</div><br>
		<div class="row">
			<div class="col-md-3">
				<button id="botonenviar" type="submit" class="btn btn-default">Guardar</button>
		  	</div>
		</div>


		
		
		
		
		
	</form>
</div>