
<h1 class="page-header">Perfil de usuario</h1>

<div id="new_customer_wrapper">
	<br>
	<form id="new_customer_form" role="form">
		<div class="row">
			<div class="col-md-5"><input type="text" class="form-control" id="new_customer_name" placeholder="Nombre"></div>
		  	<div class="col-md-7"><input type="text" class="form-control" id="new_customer_surname" placeholder="Apellidos"></div>
			
			
		</div><br>
		<div class="row">
			<div class="col-md-6"><input type="text" class="form-control" id="new_customer_email" placeholder="Email"></div>
			<div class="col-md-2"><input type="password" class="form-control" id="new_customer_password" placeholder="Contraseña"></div>
			<div class="col-md-2"><input type="password" class="form-control" id="new_customer_passwordrepeat" placeholder="Repetir contraseña"></div>
			<div class="col-md-2"><input type="text" class="form-control" id="new_customer_phone" placeholder="Teléfono"></div>
		</div><br>
		<div class="row">
			<div class="col-md-5"><input type="text" class="form-control" id="new_customer_nif" placeholder="NIF"></div>
			<div class="col-md-5"><input type="date" class="form-control" id="new_customer_birthdate" placeholder="Fecha de nacimiento"></div>
			<div class="col-md-2">
				<button id="botonenviar" type="submit" class="btn btn-default">Guardar</button>
		  	</div>
		</div><br>
		
		
		
		
		
	</form>
</div>