<h1 class="page-header">Perfil</h1>
<div id="employee_well" class="well well-sm" style="display:none;">
	<span class="fa-stack">
	  <i class="fa fa-circle fa-stack-2x"></i>
	  <i class="fa fa-info fa-stack-1x fa-inverse"></i>
	</span>
	<span class="content"></span>
</div>
<form  class="animated fadeInDown">
	<div class="row">
		<div class="form-group col-md-3">
    		<label for="passenger_name">Nombre</label>
    		<input type="text" class="form-control" id="passenger_name" placeholder="Nombre">
  		</div>
		<div class="form-group col-md-4">
    		<label for="passenger_surname">Apellidos</label>
    		<input type="text" class="form-control" id="passenger_surname" placeholder="Apellidos">
  		</div>
	</div>
	<div class="row">
		<div class="form-group col-md-5">
	    	<label for="passenger_email">Email</label>
	    	<input type="email" class="form-control" id="passenger_email" placeholder="Email">
	  	</div>
	  	<div class="form-group col-md-2">
	    	<label for="passenger_password">Contraseña</label>
	    	<input type="password" class="form-control" id="passenger_password" placeholder="Nueva contraseña">
	 	</div>
	</div>
	<div class="row">
		<div class="form-group col-xs-6 col-md-2">
	    	<label for="passenger_prefix">Prefijo</label>
	    	<input type="text" class="form-control" id="passenger_prefix" placeholder="Prefijo">
			
	    	<!-- <label for="passenger_email">Prefijo</label><br>
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">+34 <span class="caret"></span></button>
           
		    <ul class="dropdown-menu scrollable-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
            </ul> -->
	    	
	  	</div>
	  	<div class="form-group col-xs-6 col-md-3">
	    	<label for="passenger_phone">Teléfono</label>
	    	<input type="text" class="form-control" id="passenger_phone" placeholder="Teléfono">
	 	</div>
	</div>
	<br>
	<div id="save_profile" class="btn btn-default">GUARDAR</div>
</form>

