{% load i18n %}
{% load staticfiles %}
{% get_current_language as LANG %}
<div id="level1" class="{{LANG}}">
	<div class="container">
	
		<div id="level1_1" class="row">
            <div class="col-xs-12 col-sm-4 col-md-12" style="text-align:center;">
                <img id="logo" class="" src="{{media}}img/i18n/icono_mini_{{LANG}}.png">
            </div>
            <div class="col-xs-12 col-sm-8 col-md-12">
			    <h3 style="text-align: center !important; font-weight: 800 !important; color: black !important;">{% trans "Sistema de Gestión de reservas" %}</h3>
            </div>

		</div>

        <div id="play_video" onclick="play_video_home();"></div>
		
	</div>
</div>



{% ifequal LANG 'es' %}
<div id="level5">
    <div class="container medium_level">
        <div class="title">BLOG</div>

        <div id="loadingblog" class="row">
            <div class="col-xs-12 col-sm-offset-1 col-sm-10 clearfix">
                <img src="static/img/home/loading.gif" />
                <div class="title">{% trans "Conectando con el blog" %}</div>
            </div>
        </div>

        <div class="row">
            <div id="preblog" class="col-xs-12 col-sm-offset-1 col-sm-10 clearfix"  style="display:none">
                <img id="blogimg" src="static/img/home/blog.jpg" />
                <div id="blogtitle" class="title">MACHARAVIAYA REFUGIO DE ARTISTAS</div>
                <div id="blogcuerpo" class="post">Macharaviaya es de esos lugares que te hacen sentir. Este pequeño pueblo de la Axarquía malagueña te desconecta del mundanal ruido y te conecta contigo mismo.</div>
                <a id="bloglink" href="blog"><button type="button" class="btn btn-warning">VISITAR BLOG</button></a>
            </div>
        </div>

    </div>
</div>
{% endifequal %}