<div class="container">
	
	<div id="signin" class="row coolform  animated fadeInDown" style="display:none;">
		<div class=" col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
			
			<center>
				<img class="insignia" src="{{media}}img/i18n/icono_mini_{{lang}}.png" />
			
				<h1>INICIAR SESIÓN</h1>
				<!-- <h3>INICIAR SESIÓN</h3> -->
				<!-- <p>Déjanos tu email y nos pondremos en contacto contigo.</p> -->
			</center>
			<form role="form" id="login_form">
				<div class="formulario">
					<input class="strech" type="text" placeholder="EMAIL" id="email">
	                <input class="strech" type="password" placeholder="CONTRASEÑA" id="password">
				</div>
				<center>
					<span id="alert_form"></span><br>
					<button type="submit" id="signin_btn" data-loading-text="ENVIANDO" class="btn btn-warning">ENTRAR</button>
				</center>
			</form>
			
		</div>
	</div>
	
	<div class="row coolform">
		<div class=" col-xs-4 col-md-4 centrado">
			<a href="#"></a>
		</div>
		<div class=" col-xs-4 col-md-4 centrado">
			<a href="#"></a>
		</div>
		<div class=" col-xs-4 col-md-4 centrado">
			<a href="#"></a>
		</div>
	</div>
	
</div>