{% load i18n %}
{% load staticfiles %}
{% get_current_language as LANG %}
<div id="level1" class="{{LANG}}">
	<div class="container">
	
		<div id="level1_1" class="row">
            <div class="col-xs-12 col-sm-4 col-md-12" style="text-align:center;">
                <img id="logo" class="" src="{{media}}img/i18n/icono_mini_{{LANG}}.png">
            </div>
            <div class="col-xs-12 col-sm-8 col-md-12">
			    <h3 style="text-align: center !important; font-weight: 800 !important; color: black !important;">{% trans "Sistema de Gestión de reservas" %}</h3>
            </div>

		</div>

        <div id="play_video" onclick="play_video_home();"></div>
		
	</div>
</div>



{% ifequal LANG 'es' %}
<div id="level5">
    <div class="container medium_level">
        <div class="title">NOTICIAS</div>
        <div class="row">
            <div style="opacity: 1;" class="col-xs-12 col-sm-offset-1 col-sm-10 clearfix" id="preblog">
                <img src="{{media}}img/home/noticia1.jpg" id="blogimg">
                <div class="title" id="blogtitle">¡Nuevo sistema de reservas ya disponible! </div>
                <div class="post" id="blogcuerpo">Tenemos el placer de comunicaros que desde hoy, en esta plataforma, está disponible nuestro nuevo sistema de reserva. Accesible desde PC y cualquier tipo de dispositivo móvil, para que puedas reservar tus plazas de WOD y Open Box a la hora que prefieras desde casa. Para el uso de esta plataforma solo es necesario que te registres como usuario y esperes a que confirmemos tu registro. Desde ese momento podrás utilizar todas sus funcionalidades.</div>
                <a href="#" id="bloglink"><button class="btn btn-warning" type="button">REGÍSTRATE</button></a>
            </div>
        </div>
        

    </div>
</div>
{% endifequal %}