<div class="minisub-header">SISTEMA DE ASIGNACIÓN DE CARRERAS</div><br>
<div class="row" id="stops_system_select">
	<div class="col-md-6">
		<div class="item near"><i class="fa fa-circle-o"></i><i class="fa fa-dot-circle-o"></i> Taxistas más cercanos</div>
	</div>
	<div class="col-md-6">
		<div class="item stop"><i class="fa fa-circle-o"></i><i class="fa fa-dot-circle-o"></i> Sistema de paradas</div>
	</div>
</div>

<div class="minisub-header">PARADAS <span class="linkable" onclick="new_stop_modal();"><i class="fa fa-plus-circle"></i></span></div><br>
<div id="stops_list" class="row"></div>
