<div class="container">
	<div id="list_status_radios" class="row">
		
		<div class="col-md-4">
			<div class="item on">
				<div class="title">Radio Taxi Elche</div>
				<div class="country"><a href="tel:660 715 790">660 715 790</a> | España</div>
				<div class="date">14 ENE 12:48</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="item off">
				<div class="title">Radio Taxi Elche</div>
				<div class="country">España <a href="tel:660 715 790">660 715 790</a></div>
				<div class="date">14 ENE 12:48</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="item on">
				<div class="title">Radio Taxi Elche</div>
				<div class="country"><a href="tel:660 715 790">660 715 790</a> | España</div>
				<div class="date">14 ENE 12:48</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="item off">
				<div class="title">Radio Taxi Elche</div>
				<div class="country">España <a href="tel:660 715 790">660 715 790</a></div>
				<div class="date">14 ENE 12:48</div>
			</div>
		</div>
		
	</div>
</div>