{% load i18n %}

<div id="nuevo_taxista" class="container">
	<br>
	<br>
    <h3 class="">Selecciona tu tarifa</h3>
    <div id="select_radio">
        <select name="radio" id="radio"></select>
    </div>
    <br>
    <br>
	<form id="form_driver" class="form-inline" role="form">

        <h3 class="">Datos de usuario</h3>

		<div class="row">
	  		<div class="form-group  col-sm-3">
	    		<label for="nif">{% trans 'NIF' %}</label>
	    		<input type="text" class="form-control" id="nif" placeholder="{% trans 'NIF' %}">
	  		</div>
	  		<div class="form-group col-sm-4">
	    		<label for="nombre">Nombre</label>
	    		<input type="text" class="form-control" id="nombre" placeholder="NOMBRE">
	  		</div>
	  		<div class="form-group  col-sm-5">
	    		<label for="apellidos">Apellidos</label>
	    		<input type="text" class="form-control" id="apellidos" placeholder="APELLIDOS">
	  		</div>



		</div>
	 	<br>
		
		<div class="row">
	  		<div class="form-group  col-sm-4">
	    		<label for="email">Email</label>
	    		<input type="text" class="form-control" id="email" placeholder="EMAIL">
	  		</div>

            <div class="form-group  col-sm-4">
	    		<label for="password">Contraseña</label>
	    		<input type="password" class="form-control" id="password" placeholder="CONTRASEÑA">
	  		</div>
	  		<div class="form-group  col-sm-4">
	    		<label for="password">Repetir contraseña</label>
	    		<input type="password" class="form-control" id="password_repeat" placeholder="REPETIR CONTRASEÑA">
	  		</div>
	  		
		</div>
        <br>
        <div class="row">
        	<div class="form-group  col-sm-4">
	    		<label for="movil">Teléfono</label>
	    		<input type="text" class="form-control" id="movil" placeholder="MÓVIL">
	  		</div>
	  		<div class="form-group  col-sm-4">
	    		<label for="movil">Dirección</label>
	    		<input type="text" class="form-control" id="direccion" placeholder="DIRECCIÓN">
	  		</div>
            <div class="form-group  col-sm-4" style="padding-top:16px;">
	    		<span style="padding-right: 20px; font-size: 14px; text-transform: uppercase; color: gray; padding-left: 11px;">Fecha de nacimiento: </span>
	    		<input id="birthdate" style="height: 22px; text-transform: uppercase; border: none; color: gray; font-family: Arial;" type="date" name="birthdate" step="1" min="1800-01-01" max="2016-12-31">
	  		</div>
        </div>
        <br><br>
            <center>
                <div id="enviar" class="btn btn-default" onclick="enviar();" style="padding-left: 20px; padding-right: 20px;">ENVIAR</div>
            </center>
		
        <br>


    </form>
		
</div>
