<div class="row stats_lg">
	<div class="col-md-4 col-md-offset-4">
		<div class="stat">
			<div class="number" id="stat_journeys"><i class="fa fa-cog fa-spin"></i></div>
			<div class="text">Carreras</div>
		</div>
	</div>
</div>
<div class="row stats">
	<div class="col-sm-4">
		<div class="item">
			<div class="number" id="stat_completed"><i class="fa fa-cog fa-spin"></i></div>
			<div class="text">Completadas</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="item">
			<div class="number" id="stat_canceled"><i class="fa fa-cog fa-spin"></i></div>
			<div class="text">Canceladas</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="item">
			<div class="number" id="stat_credit_cards"><i class="fa fa-cog fa-spin"></i></div>
			<div class="text">Con Tarjeta</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="item">
			<div class="number" id="stat_enterprises"><i class="fa fa-cog fa-spin"></i></div>
			<div class="text">Empresas</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="item">
			<div class="number" id="stat_buttons"><i class="fa fa-cog fa-spin"></i></div>
			<div class="text">Pulsadores</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="item">
			<div class="number" id="stat_licences"><i class="fa fa-cog fa-spin"></i></div>
			<div class="text">Licencias</div>
		</div>
	</div>
</div>
