/*FUENTES*/
@import url(http://fonts.googleapis.com/css?family=Raleway:400,200,600);
@font-face { font-family: 'Museo100'; src: url(../fonts/MuseoSans-100.otf); font-weight: 100; }
@font-face { font-family: 'Museo900'; src: url(../fonts/MuseoSans_900.otf); font-weight: 900; }
html,body{font-family: Arial; }
html {margin: 0; height: 100%; }
body { -webkit-font-smoothing: antialiased; height: 100%; }
#chivato{display: none;position: fixed; top:0px; left:0px; width: 0px; height: 0px;background-color: #000; z-index: 1000; cursor: pointer;}
#page{ min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -105px; }
#alert{display: none;position: fixed; top:0px; width: 100%; padding: 10px; background-color: #23616B; z-index: 1042; color: #fff; text-align: center; font-size: 14px; webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5); box-shadow: 0 3px 9px rgba(0,0,0,.5);}
#alert.warning{background-color: #903B41;}
#content{padding-top:39px;}
#push{height: 105px;}
/*#logologin{background: url("http://crossfit-reservasjerez.rhcloud.com/static/img/i18n/icono_mini_es.png") no-repeat scroll 0 0 / 100% auto; height: 121px; margin-bottom: 35px; width: 575px;}
*/
#logologin{ background-position-x: center; background: rgba(0, 0, 0, 0) url("http://crossfit-reservasjerez.rhcloud.com/static/img/i18n/icono_mini_ppal.png") no-repeat scroll center center / 20% auto; height: 162px; margin-bottom: 20px; width: 575px;}
/*NAVBAR*/
.navbar{ background-color: black; color: #fff; border-radius: 0px; min-height:37px;margin-bottom: 0px;width: 100%; position: fixed; z-index: 1000;}
#brand{ font-family: impact,impact-w01-2010,impact-w02-2010,impact-w10-2010,sans-serif; font-weight: 500; font-size: 18px; height: 37px;line-height: 37px; padding: 0; margin: 0;vertical-align: middle; color: #fff; border: 0px solid #999; }
#brand:hover{color: #CCC; text-decoration: none;}

#brand>span{font-family: 'Museo100', sans-serif; font-weight: 100; color: #CCC;}
.navbar-collapse{border: 0px solid red;}
#menu{ border: 0px solid green;}
#menu>li{ padding: 0px 0px; margin: 0px 0px 0px 30px; text-transform: uppercase; padding: 0px; height: 35px; line-height: 35px; vertical-align: middle; font-size: 14px; color: #fff; cursor: pointer;}
#menu>li a{ color: #fff; padding: 0px; margin: 0px; line-height: 35px;}
#menu>li a:hover{color: #AAA;}
#menu>li .icon{margin-right:5px;margin-top: -2px; width:18px; height:15px;}
#menu>li .icon.flag{margin-right:5px;margin-top: -2px; width:18px; height:18px;}
.navbar-inverse .navbar-toggle{border: 0px solid #FFF; padding: 2px 3px; margin-top: 8px; margin-bottom: 8px;}
/*FOOTER*/
#footer {height:105px;background-color: black;overflow: hidden;font-weight: 600;color: #838383;font-size: 14px;}
#footer a{color: #888;}
#footer .row>div{border: 0px solid #999;}
#footer .columna1{border: 0px solid #999;padding-top: 14px;margin-right: 50px;float: left;}
#footer .columna2{   border: 0px solid #999;    padding-top: 63px;    float: left;}
#footer .columna3{    border: 0px solid #999;    padding-top: 50px;    float: right;}
#footer .columna4{    border: 0px solid #999;    padding-top: 10px;    float: right;}
#footer .titulo{    border: 0px solid #999;    color: #fff;    font-size: 16px;}
#footer .subtitulo{    border: 0px solid #999;    color: #AAA;    font-size: 15px;    line-height: 17px;    margin-bottom: 8px;}
#footer .parrafo{ border: 0px solid #999;color: #838383;font-size: 14px;line-height: 16px;}
#footer .parrafo p{ margin: 0px 0px 2px 0px; }
#footer .parrafo a{ color: #F9AF05; }
#footer .eula{border: 0px solid #999;font-family: 'Museo300',Arial, Helvetica, sans-serif;color: #838383;font-size: 10px;line-height: 17px;}
#footer .eula span{color: #666;cursor: pointer;}
#formulario-newsletter{background-color: #FFF;margin: 20px 0px 0px 0px;height: 33px;width: 265px;padding: 0px;border: 0px solid #999;}
#mce-EMAIL{margin: 0px;width: 200px;height: 33px;background-color: #FFF;padding: 0px 10px;line-height: 33px;vertical-align: middle;font-size: 14px;border: 0px solid #999;float: left;}
#mce-EMAIL:focus{border: 0px solid #999;outline: 0;-webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);-moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);}
#submit-newsleter{float: right;margin: 0px;width: 33px;height: 33px;background-color: #414141;padding: 0px;line-height: 33px;vertical-align: middle;text-align: center;font-size: 14px;color: #fff;cursor: pointer;}
#footer .rrss{float: right;width: 34px;height: 34px;background-color: #474747;margin: 40px 0px 0px 12px;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;cursor: pointer;background-repeat: no-repeat;background-position: center center;}
#footer .rrss.twitter{background-image: url(../img/common/min_twitter.png);}
#footer .rrss.facebook{background-image: url(../img/common/min_facebook.png);}

/* Valores genéricos */
.oculto{display:none;}
.centrado{text-align:center; margin: 0px auto;}
.linkable{cursor:pointer;}
.unlinkable{cursor:default;}
.overflow{overflow:hidden;}


.notice{text-align: center; border: 0px solid #999; color: gray; margin: 40px 0px;}
.notice.full{margin: 60px 0px 0px;}
.notice .icon{font-size: 160px;}
.notice .text{font-size: 20px;}
.download_content .botonera{width: 360px;
    height: 100px; margin:60px auto;}
.download_content .download.spritehome {
float: left;
margin: 10px 15px;
}

/* Bootstrap over */
.modal-content{border-radius: 0px;}
.modal-header{border: none;}
.modal-body{margin-top: 0px; padding-top: 0px; margin-bottom: 0px; padding-bottom: 5px;}
.modal-body .insignia{ padding-top: 0px; margin: 0px auto 10px auto;}
.modal-body h1{ padding-top: 0px; margin-top: 0px; font-family: Arial; text-align: center;font-size: 36px; font-weight: 200; color: #181818; text-transform: uppercase;}
.modal-body h3{padding-top: 0px;margin-top: 0px;font-family: Arial;text-align: center;font-size: 14px;font-weight: 400;color: #888;text-transform: uppercase;}
.modal-body ul{ list-style-type: none ; }
.modal-body li{ display: inline ; }
.modal-body .formulario{width: 90%; margin: 20px auto 0px auto;}
.modal-body .formulario input[type=text]{color: #BBB; border: 0px solid #999; border-bottom: 1px solid #BBB; background-color: transparent; width: 100%; margin: 15px auto;}
.modal-body .formulario input.medio{width: 47%; margin-right: 0px; margin-left: 0px;}
.modal-body .formulario input.izq{margin-right: 5%;}
.modal-body .formulario input.fail{border-bottom: 1px solid #851A1F; color: #851A1F; background-color: #F1F1F1;}
.modal-body .formulario input:focus{ outline: 0; }
.modal-body .formulario .checks{border: 0px solid #999; color: #BBB;}
.modal-footer{text-align: center; border: none; padding: 0px 15px 15px 15px; margin-top: 10px;}
.modal-footer button{background-color: #075a8f; border-radius: 0px; font-family: Arial; font-weight: 600; font-size: 16px; padding-left: 20px;padding-right: 20px; margin-top: 15px; margin-bottom: 15px;}
.modal-footer button.btn-danger{background-color: #D2322D;}


/* IDIOMAS */

#languages{list-style-type: none;padding: 0px;width: 120px;border: 0px solid #999;}
#languages li{cursor: pointer; margin-bottom: 7px; padding-left: 24px;}
#languages li.flag{margin-top:4px; }
#languages li.flag.es{background-image: url(../img/i18n/flag_es.png);  background-repeat: no-repeat;  }
#languages li.flag.cr{background-image: url(../img/i18n/flag_cr.png);  background-repeat: no-repeat;}
#languages li.flag.pa{background-image: url(../img/i18n/flag_pa.png);  background-repeat: no-repeat;}
#languages li.flag.pe{background-image: url(../img/i18n/flag_pe.png);  background-repeat: no-repeat;}
#languages li.flag.ad{background-image: url(../img/i18n/flag_ad.png);  background-repeat: no-repeat;}
#nav li.languages{ background-position: left;width: 299px;padding-left: 20px;text-transform: uppercase;cursor: pointer; }
.popover{color: #000;}
.popover li{ background-position: 0px 4px; border: 0px solid #999;}


/* SPRITES */
.spritehome{ background:url(../img/home/spritehome.png) top left no-repeat; }
.sphome_app_store{ width:149px; height:50px; background-position:-149px -768px; }
.sphome_google_play{width: 149px; height: 50px; background-position: 0 -768px;}
.sphome_enterprise{width: 102px; height: 104px; background-position: -203px -244px;}


/* Responsive */
#icono-central{
    z-index: 10;
    position: absolute;
    border: 0px solid red;
    width: 200px;
    height: 100px;
    left:50%;
    margin-left: -100px;
}

#icono-central .icono{
    width: 120px;
    height: 120px;
    background-image: url(../img/i18n/icono_es.png);
    background-repeat: no-repeat;
    margin: 10px auto 0px auto;
    cursor: pointer;
    position: relative;
    -webkit-transition: top 0.2s ease-out;
    -moz-transition: top 0.2s ease-out;
    -o-transition: top 0.2s ease-out;
    transition: top 0.2s ease-out;
}



/* Responsive */
@media (min-width: 1200px) {
	#chivato{ background-color: red;  }
	.container{ width: 980px; border: 0px solid green; margin: 0px auto;}
}


@media (min-width: 991px) and (max-width: 1200px)  {
    #chivato{ background-color: blue;  }
}

@media (min-width: 768px) and (max-width: 991px) { 
	#chivato{ background-color: green;  }
}


@media (max-width: 991px) {
	#chivato{ background-color: pink;  }
    #formulario-newsletter{width: 200px;}
    #mce-EMAIL{width: 140px;}
}

@media (max-width: 767px) {
	#chivato{ background-color: violet;  }
	#brand{padding-left: 20px;}
	#menu>li{margin-left: 20px;}
    #page{margin: 0 auto -210px; }
    #push{height: 210px;}
    #footer { height:210px; }
}

@media (max-width: 767px) {
    #logologin{width:100%; background-size: 16%;}
}

@media (max-width: 549px) {
    #logologin{background-size: 22%;}
}

@media (max-width: 480px) {
    #chivato{ background-color: yellow;  }
    #footer .columna1{margin-right: 14px;}
    #formulario-newsletter{width: 180px;}
    #mce-EMAIL{width: 135px;}
}

/*@media (max-width: 433px) {
    #logologin{background: url("http://crossfit-reservasjerez.rhcloud.com/static/img/i18n/icono_adaptado.png") no-repeat scroll 0 0 / 100% auto; height: 209px; margin-bottom: 35px; width: 83%;}
}*/

/*@media (max-width: 433px) {
    #logologin{height: 155px;}
}

@media (max-width: 276px) {
    #logologin{height: 117px;}
}*/