<p>Hola {{ name }}, has recibido este email porque una plaza quedó libre para la actividad en la que estaba en cola. Tras liberarse la plaza, el sistema acaba de registrar su reserva para dicha plaza.</p>

<br>
<p>Los datos de tu reserva son los siguientes:</p>
<br>
<p>Actividad: {{actividad}}</p>
<p>Fecha: {{fecha}}</p>
<p>Horario: {{horario}}</p>
<br>
<p>Te recordamos que puedes cancelar la reserva si lo deseas hasta {{minutos}} minutos antes de que comience la misma. Una vez transcurrido este tiempo, su reserva será confirmada y ya no podrá ser cancelada.</p>
<br>
<br>
<p>Gracias por confiar en nosotros</p>
<br>
<p>CrossFit Jerez TEAM</p>