<p>Hola {{ name }}, has recibido este email porque acabas de colocarte en cola para una actividad en el sistema de gestión de Crossfit Jerez. Si has recibido este email y no has realizado la petición, ponte en contacto con nuestro equipo de soporte respondiendo a este mismo email.</p>

<p>Los datos de tu petición son los siguientes:</p>
<p>Estado: EN COLA</p>
<p>Actividad: {{actividad}}</p>
<p>Fecha: {{fecha}}</p>
<p>Horario: {{horario}}</p>
<br>
<p>En el caso de que alguna plaza quede libre, su petición será procesada automáticamente y se realizará la reserva, avisándole de la misma mediante email y Telegram. Puede cancelar su reserva desde el momento en el que se le notifique la misma y hasta {{minutos}} antes de que comience la actividad. Una vez transcurrido este tiempo, su reserva será confirmada y ya no podrá ser cancelada.</p>
<p>En el caso de que finalmente no existan cancelaciones, y por tanto, no exista hueco en la actividad, se eliminará su reserva en la cola y se le notificará que no dispone de plaza {{minutos}} antes de que comience la actividad.</p>
<br>
<p>Gracias por confiar en nosotros</p>
<br>
<p>CrossFit Jerez TEAM</p>