<p>Hola {{ name }}, has recibido este email porque acabas de registrarte en el sistema de gestión de reservas Crossfit Jerez. Si has recibido este email y no te has registrado, ponte en contacto con nuestro equipo de soporte respondiendo a este mismo email.</p>

<p>Para finalizar el proceso de alta y comenzar a reservar horas, es necesario que uno de nuestros monitores valide tu registro. Para ello debes estar al día en el pago de la cuota mensual. En el caso de haber pagado y no obtener la validación, acude al gimnasio y avisa a nuestros monitores.</p>
<p>En el momento que se valide tu usuario, te avisaremos mediante otro email para que puedas comenzar a reservar.</p>
<br>
<p>Para una mejor experiencia de usuario recomendamos que instales en tu Smartphone la app Telegram, mediante la cual realizaremos las notificaciones pertinentes para las reservas y demás funcionalidades.</p>
<br>
<br>
<p>Gracias por confiar en nosotros</p>
<br>
<p>CrossFit Jerez TEAM</p>
