<p>Hola {{ name }}, has recibido este email porque acabas de realizar una reserva en el sistema de gestión de Crossfit Jerez. Si has recibido este email y no has realizado la reserva, ponte en contacto con nuestro equipo de soporte respondiendo a este mismo email.</p>

<p>Los datos de tu reserva son los siguientes:</p>
<br>
<p>Actividad: {{actividad}}</p>
<p>Fecha: {{fecha}}</p>
<p>Horario: {{horario}}</p>
<br>
<p>Te recordamos que puedes cancelar la reserva si lo deseas hasta {{minutos}} minutos antes de que comience la misma. Una vez transcurrido este tiempo, su reserva será confirmada y ya no podrá ser cancelada.</p>
<br>
<p>Para una mejor experiencia de usuario recomendamos que instales en tu Smartphone la app Telegram, mediante la cual realizaremos las notificaciones pertinentes.</p>
<br>
<br>
<p>Gracias por confiar en nosotros</p>
<br>
<p>CrossFit Jerez TEAM</p>