<p>Hola {{ name }}, soy Antonio Ramírez de Taxible y antes que nada me gustaría agradecer tu interés en Taxible. </p>

<p>Para finalizar el proceso de alta y comenzar a recibir carreras, es necesario que accedas a este enlace  <a href="http://www.taxible.com/validate_driver/{{token}}">http://www.taxible.com/validate_driver/{{token}}</a> o a tu perfil de Taxible con tu email y contraseña a través de este  <a href="http://www.taxible.com/login">http://www.taxible.com/login</a> y sigas los pasos que te indicamos.</p>
<p>También te adjuntamos el Manual de Uso de la aplicación del Taxista.</p>
<br>
<p>A continuación me gustaría destacarte los beneficios de nuestros servicios: </p>
<br>
<center>
<p><strong>Libertad Sin Cuotas Mensuales</strong></p>
<p>Taxible es gratis, sin costes fijos ni costes de mantenimiento, solo pagas una comisión cuando finalizas con éxito una carrera. Tú decides cuándo quieres estar disponible para dar servicios.</p>
<br>
<p><strong>Taxistas Comprometidos con el Buen Servicio</strong></p>
<p>La mejor vía para conseguir más carreras es dar un buen servicio al cliente. En Taxible el cliente valora y decide cuáles son los mejores taxistas. Los clientes pueden elegir directamente a un taxista en concreto por su valoración.</p>
<br>

<p><strong>Las Mejores Carreras Directamente en tu Móvil</strong></p>
<p>El 70% de las carreras que proporciona Taxible son Premium. Estos servicios se generan a través de hoteles, aeropuertos, empresas y grandes cuentas que recibirás directamente en tu móvil.</p>
<br>
<p><strong>Cobra vía App sin Efectivo. (Próximamente)</strong></p>
<p>Evita llevar efectivo en el taxi o el datafono, y cobra al cliente directamente vía App.</p>
</center>
<br>


<p>Actualmente Taxible está disponible en más de 30 ciudades españolas: Madrid, Málaga, Valencia, Murcia, Palma de Mallorca, Menorca, Elche, Jerez de la Frontera, Sanlúcar de Bda,… y cuenta con más de 8.500 taxis adheridos al sistema.</p>
<br>
<p>¡Bienvenido a Taxible!</p>
<br>
<p>Para cualquier otra cosa que necesites, no dudes en contactar conmigo.</p>
<br>
<p>¡Un saludo y que pases un buen día!</p>